    <div class="action--buttons">
        <div class="buttons--left input--centered1">
            <button class="action-buttons" data-action="initiative">{{localize "ED.Actor.Buttons.initiative"}}</button>
            <button class="action-buttons" data-action="jumpUp">{{localize "ED.Actor.Buttons.jumpUp"}}</button>
            <button class="action-buttons" data-action="knockdown">{{localize "ED.Actor.Buttons.knockdownTest"}}</button>
        </div>
        <div class="buttons--right input--centered1">
            <button class="action-buttons" data-action="takeDamage">{{localize "ED.Actor.Buttons.takeDamage"}}</button>
            {{!-- <button class="action-buttons" data-action="unusedButtonAction">FREE TO USE TODO</button> --}}
            <button class="action-buttons" data-action="recovery">{{localize "ED.Actor.Buttons.recovery"}}</button>
        </div>
    </div>