<div class="action--buttons">
        <div class="buttons--left input--centered1">
            <button class="action-buttons" data-action="unusedButtonAction">{{localize "ToDo"}}</button>
            <button class="action-buttons" data-action="unusedButtonAction">{{localize "ToDo"}}</button>
            <button class="action-buttons" data-action="unusedButtonAction">{{localize "ToDo"}}</button>
        </div>
        <div class="buttons--right input--centered1">
            <button class="action-buttons" data-action="unusedButtonAction">{{localize "ToDo"}}</button>
            <button class="action-buttons" data-action="unusedButtonAction">{{localize "ToDo"}}</button>
            <button class="action-buttons" data-action="unusedButtonAction">{{localize "ToDo"}}</button>
        </div>
    </div>