<div class="class-advancement-spell-selection scrollable" {{#unless render.spellSelection}}style="display:none;"{{/unless}}>

  <p>{{localize "ED.Dialogs.Legend.ClassAdvancement.YouCanChooseSpells"}}</p>

  <div class="available-spells">
    {{#each availableSpells as |uuid|}}
        <div class="spell">
          <input type="checkbox" id="spell-{{uuid}}" name="selectedSpells" value="{{uuid}}">
          <label for="spell-{{uuid}}">{{{ed-linkForUuid uuid}}}</label>
        </div>
    {{else}}
      <p>{{localize "ED.Dialogs.Legend.ClassAdvancement.NoSpellsAvailable"}}</p>
    {{/each}}
  </div>

  <hr>

  <div class="selected-spells">
    {{#if (ed-hasItems selectedSpells)}}
      <p>{{localize "ED.Dialogs.Legend.ClassAdvancement.SelectedSpells"}}</p>

      <document-tags name="selectedSpells" placeholder="{{localize "ED.X-No spells added yet. You can do it by just dragging and dropping them onto this field"}}">
        {{#each selectedSpells as |uuid|}}
          <div class="tags input-element-tags">
            <div class="tag document-tag" data-key="Item.4CtXPK8Jp3WW6wRQ">
              {{{ed-linkForUuid uuid}}}
              <a class="remove fa-solid fa-times" data-tooltip="Remove Document" aria-label="Remove Document"></a>
            </div>
          </div>
        {{/each}}
      </document-tags>
    {{else}}
      <p>{{localize "ED.Dialogs.Legend.ClassAdvancement.NoSpellsSelected"}}</p>
    {{/if}}
  </div>

</div>