<section class="tab {{tabs.general.cssClass}}" data-group="sheet" data-tab="general">
  <div class="layout__row">

    <!-- Left Column -->
    <div class="layout__col--2">

      <!-- Attributes -->
      
      <h3>
        <label>{{localize "ED.Actor.Header.attributes"}}</label>
      </h3>
        <div class="container__block container__custom">
          <div class="attribute-card__grid--container container__header">
            <div class="attribute-card__grid--item"></div>
            <div class="attribute-card__grid--item">{{localize "ED.Actor.Attributes.attributeName"}}</div>
            {{#if (eq this.actor.type "character")}}
              <div class="attribute-card__grid--item">{{localize "ED.Actor.Attributes.attributeValue"}}</div>
              <div class="attribute-card__grid--item">{{localize "ED.Actor.Attributes.increase"}}</div>
              {{else}}
              <div class="attribute-card__grid--item"></div>
            {{/if}}
            <div class="attribute-card__grid--item">{{localize "ED.Actor.Attributes.attributeStep"}}</div>
          </div>
          {{#if (eq this.actor.type "character")}}
            {{> "systems/ed4e/templates/actor/cards/attribute-card.hbs"}}
          {{else}}
            {{> "systems/ed4e/templates/actor/cards/attributes-none-pc-card.hbs"}}
          {{/if}}
        </div>


      <!-- Karma -->
      <h3 class="karma-devotion__header margin__none one-line__vertical-align">
        <span class="karma-devotion__header-label">
          {{localize "ED.Actor.Header.karma"}}
        </span>
        <span class="karma-devotion__header-icons">
          <input type="checkbox"
                name="system.karma.useAlways"
                {{checked actor.system.karma.useAlways}}
                title="{{localize "ED.Data.Actor.Sentient.FIELDS.karma.useAlways.hint"}}">
          {{#if (eq this.actor.type "character")}}
            <a class="karma__ritual">
              <button class="button__Karma-refresh"
                      data-action="karmaRitual"
                      title="Karma-Ritual">
                <i class="fa-solid fa-person-rays"
                  title="{{localize "ED.Actor.Tooltips.karmaRitualTooltip"}}"></i>
              </button>
            </a>
          {{/if}}
        </span>
      </h3>
    <div class="container__block container__custom">
      <div class="karma-devotion__grid--container container__header">
        <div class="karma-devotion__grid--item">{{localize "ED.Data.Actor.Sentient.FIELDS.karma.value.label"}}</div>
        <div class="karma-devotion__grid--item">{{localize "ED.Data.Actor.Sentient.FIELDS.karma.max.label"}}</div>
        <div class="karma-devotion__grid--item">{{localize "ED.Data.Actor.Sentient.FIELDS.karma.step.label"}}</div>
      </div>
      <div class="karma-devotion__grid--container">
        <div class="karma-devotion__grid--item">
          <input class="input__square-input--centered" name="system.karma.value" value="{{actor.system.karma.value}}">
        </div>
        <div class="karma-devotion__grid--item">
          <input class="input__square-input--centered" name="system.karma.max" value="{{actor.system.karma.max}}" {{#if (eq this.actor.type "character")}}readonly{{/if}}>
        </div>
        <div class="karma-devotion__grid--item">
          <input class="input__square-input--centered" name="system.karma.step" value="{{actor.system.karma.step}}">
        </div>
      </div>
    </div>

    <!-- Devotion -->
    <h3 class="karma-devotion__header one-line__vertical-align margin__none">
      <span class="karma-devotion__header-label">{{localize "ED.Actor.Header.devotion"}}</span>
    </h3>
    <div class="container__block container__custom">
      <div class="karma-devotion__grid--container container__header">
        <div class="karma-devotion__grid--item">{{localize "ED.Data.Actor.Sentient.FIELDS.devotion.value.label"}}</div>
        <div class="karma-devotion__grid--item">{{localize "ED.Data.Actor.Sentient.FIELDS.devotion.max.label"}}</div>
        <div class="karma-devotion__grid--item">{{localize "ED.Data.Actor.Sentient.FIELDS.devotion.step.label"}}</div>
      </div>
      <div class="karma-devotion__grid--container">
        <div class="karma-devotion__grid--item">
          <input class="input__square-input--centered"
                name="system.devotion.value"
                value="{{actor.system.devotion.value}}">
        </div>
        <div class="karma-devotion__grid--item">
          <input class="input__square-input--centered"
                name="system.devotion.max"
                value="{{actor.system.devotion.max}}"
                {{#if (eq this.actor.type "character")}}readonly{{/if}}>
        </div>
        <div class="karma-devotion__grid--item">
          <input class="input__square-input--centered"
                name="system.devotion.step"
                value="{{actor.system.devotion.step}}">
        </div>
      </div>
    </div>
  
    <h3 class="recovery__header margin__none one-line__vertical-align">
      <span class="recovery__header-label">
        {{localize "ED.Actor.Header.recovery"}}
      </span>
      <span class="recovery__header-icons">
        {{#if (eq this.actor.type "character")}}
          <a class="button__recovery-test">
            <button class="button__recovery-rest"
                    data-action="recovery"
                    title="{{localize "ED.Actor.Tooltips.recoveryRestTooltip"}}">
              <i class="fa-solid fa-bed"
                title="{{localize "ED.Actor.Tooltips.recoveryRestTooltip"}}"></i>
            </button>
          </a>
        {{/if}}
      </span>
    </h3>


    <div class="container__block container__custom">
      <div class="recovery__grid--container container__header">
        <div class="recovery__grid--item">{{localize "ED.Data.Actor.Sentient.FIELDS.characteristics.recoveryTestsResource.value.label"}}</div>
        <div class="recovery__grid--item">{{localize "ED.Data.Actor.Sentient.FIELDS.characteristics.recoveryTestsResource.max.label"}}</div>
        <div class="recovery__grid--item">{{localize "ED.Data.Actor.Sentient.FIELDS.characteristics.recoveryTestsResource.step.label"}}</div>
      </div>
      <div class="recovery__grid--container">
        {{#if (eq this.actor.type "character")}}
          <div class="recovery__grid--item">
            <input class="input__square-input--centered"
            name="system.characteristics.recoveryTestsResource.value"
                value="{{actor.system.characteristics.recoveryTestsResource.value}}">
          </div>
          <div class="recovery__grid--item">
            <input class="input__square-input--centered"
                value="{{actor.system.characteristics.recoveryTestsResource.max}}" readonly>
          </div>
          <div class="recovery__grid--item">
            <input class="input__square-input--centered"
                  value="{{actor.system.characteristics.recoveryTestsResource.step}}" readonly>
          </div>
        {{else}}
        <div class="recovery__grid--item">
            <input class="input__square-input--centered"
            name="system.characteristics.recoveryTestsResource.value"
                value="{{actor.system.characteristics.recoveryTestsResource.value}}">
          </div>
          <div class="recovery__grid--item">
            <input class="input__square-input--centered"
            name="system.characteristics.recoveryTestsResource.max"
                value="{{actor.system.characteristics.recoveryTestsResource.max}}">
          </div>
          <div class="recovery__grid--item">
            <input class="input__square-input--centered"
            name="system.characteristics.recoveryTestsResource.step"
                  value="{{actor.system.characteristics.recoveryTestsResource.step}}">
          </div>
        {{/if}}
      </div>
    </div>

  </div>

  <!-- Right Column -->
  <div class="layout__col--2">
<h3>{{localize "ED.Actor.Header.favorites"}}</h3>
      <!-- Attacks -->
      {{#if (or (eq this.actor.type "npc") (eq this.actor.type "creature") (eq this.actor.type "spirit") (eq this.actor.type "horror") (eq this.actor.type "dragon"))}}
        {{> "systems/ed4e/templates/actor/cards/special-abilities-npc.hbs"}}
      {{/if}}

    {{!-- Favorites --}}
    <div class="favorites-section">
      {{#if favoriteItems.length}}
        <div class="favorites-grid">
          {{#each favoriteItems}}
            {{#if (eq this.type "spell")}}
              <div class="action-zone cast-zone" data-uuid="{{this.uuid}}">
                <button class="favorite-item-button" 
                        data-action="castSpell">
                  <img src="{{this.img}}" alt="{{this.name}}" class="favorite-item-icon">
                  <span class="favorite-item-name">{{this.name}}</span>
                </button>
              </div>
            {{else if (and this.system.usableItem this.system.usableItem.isUsableItem)}}
              <div class="item-id" data-item-id="{{this.id}}">
                <button class="favorite-item-button" 
                        data-action="rollable" 
                        data-roll-type="equipment">
                  <img src="{{this.img}}" alt="{{this.name}}" class="favorite-item-icon">
                  <span class="favorite-item-name">{{this.name}}</span>
                </button>
              </div>
            {{else}}
              <button class="favorite-item-button" 
                      data-action="rollFavoriteItem" 
                      data-item-id="{{this.id}}">
                <img src="{{this.img}}" alt="{{this.name}}" class="favorite-item-icon">
                <span class="favorite-item-name">{{this.name}}</span>
              </button>
            {{/if}}
          {{/each}}
        </div>
      {{else}}
        <p class="no-favorites">{{localize "ED.ToolTips.noFavorites"}}</p>
      {{/if}}
      
      {{!-- Always available action buttons --}}
      <div class="favorites-grid">
        <button class="favorite-item-button" data-action="initiative">
          <img src="" alt="">
          <span class="favorite-item-name">{{localize "ED.Actor.Buttons.initiative"}}</span>
        </button>
        <button class="favorite-item-button" data-action="jumpUp">{{localize "ED.Actor.Buttons.jumpUp"}}</button>
        <button class="favorite-item-button" data-action="knockDown">{{localize "ED.Actor.Buttons.knockDownTest"}}</button>

        <button class="favorite-item-button" data-action="takeDamage">{{localize "ED.Actor.Buttons.takeDamage"}}</button>
        <button class="favorite-item-button" data-action="halfMagic">{{localize "ED.Actor.Buttons.halfMagic"}}</button>
        <button class="favorite-item-button" data-action="recovery">{{localize "ED.Actor.Buttons.recovery"}}</button>
        {{#if this.actor.namegiver.system.tailAttack}}
          <button class="attack-substitute__weapon-attack favorite-item-button" data-action="attack" data-attack-type="weapon">{{localize "ED.Actor.Buttons.weaponAttack"}}</button>
          <button class="attack-substitute__unarmed-attack favorite-item-button" data-action="attack" data-attack-type="unarmed">{{localize "ED.Actor.Buttons.unarmedAttack"}}</button>
          <button class="attack-substitute__tail-attack favorite-item-button" data-action="attack" data-attack-type="tail">{{localize "ED.Actor.Buttons.tailAttack"}}</button>
        {{else}}
          <button class="attack-substitute__weapon-attack favorite-item-button" data-action="attack" data-attack-type="weapon">{{localize "ED.Actor.Buttons.weaponAttack"}}</button>
          <button class="attack-substitute__unarmed-attack favorite-item-button" data-action="attack" data-attack-type="unarmed">{{localize "ED.Actor.Buttons.unarmedAttack"}}</button>
        {{/if}}
      </div>
    </div>

  </div>

  
</section>