<section class="tab {{tabs.general.cssClass}}" data-group="sheet" data-tab="general">
  <div class="layout__row">

    <!-- Left Column -->
    <div class="layout__col--2 layout__col--fixed">

      <!-- Attributes -->
      
      <h3 class="margin__none">
        <label>{{localize "ED.Actor.Header.attributes"}}</label>
      </h3>
        <div class="container__block">
          <div class="attribute-card__grid--container container__header">
            <div class="attribute-card__grid--item"></div>
            <div class="attribute-card__grid--item">{{localize "ED.Actor.Attributes.attributeName"}}</div>
            {{#if (eq this.actor.type "character")}}
              <div class="attribute-card__grid--item text__alignment--center">{{localize "ED.Actor.Attributes.attributeValue"}}</div>
              <div class="attribute-card__grid--item text__alignment--center">{{localize "ED.Actor.Attributes.increase"}}</div>
              {{else}}
              <div class="attribute-card__grid--item"></div>
            {{/if}}
            <div class="attribute-card__grid--item text__alignment--center">{{localize "ED.Actor.Attributes.attribueStep"}}</div>
          </div>
          {{#if (eq this.actor.type "character")}}
            {{> "systems/ed4e/templates/actor/cards/attribute-card.hbs"}}
          {{else}}
            {{> "systems/ed4e/templates/actor/cards/attributes-none-pc-card.hbs"}}
          {{/if}}
        </div>


      <!-- Karma -->
      <h3 class="one-line__vertical-align karma-devotion__header margin__none">
          <label>{{localize "ED.Actor.Header.karma"}}</label>
          <span class="icon__position--right one-line__vertical-align">
              <input type="checkbox" name="system.karma.useAlways" {{checked actor.system.karma.useAlways}} title="{{localize "ED.Actor.Tooltips.karmaAlways"}}">
              {{#if (eq this.actor.type "character")}}
              <a class="karma__ritual">
                  <button class="button__Karma-refresh" data-action="karmaRitual" title="Karma-Ritual">
                  <i class="fa-solid fa-person-rays" title="{{localize "ED.Actor.Tooltips.karmaRitualTooltip"}}"></i>
                  </button>
              </a>
              {{/if}}
          </span>
      </h3>
      <div class="karma-devotion__grid--container">
          <div class="karma-devotion__grid--item">{{localize "ED.Actor.Karma.current"}}</div>
          <div class="karma-devotion__grid--item">{{localize "ED.Actor.Karma.max"}}</div>
          <div class="karma-devotion__grid--item">{{localize "ED.Actor.Karma.step"}}</div>
      </div>
      <div class="karma-devotion__grid--container">
          <div class="karma-devotion__grid--item">
              <input class="input__square-input--centered" name="system.karma.value" value="{{actor.system.karma.value}}">
          </div>
          <div class="karma-devotion__grid--item">
              <input class="input__square-input--centered" name="system.karma.max" value="{{actor.system.karma.max}}" {{#if (eq this.actor.type "character")}}readonly{{/if}}>
          </div>
          <div class="karma-devotion__grid--item">
              <input class="input__square-input--centered" name="system.karma.step" value="{{actor.system.karma.step}}">
          </div>
      </div>

      <!-- Devotion -->
        <h3 class="one-line__vertical-align karma-devotion__header margin__none">
          <label>{{localize "ED.Actor.Header.devotion"}}</label>
        </h3>
        <div class="karma-devotion__grid--container">
          <div class="karma-devotion__grid--item">{{localize "ED.Actor.Devotion.current"}}</div>
          <div class="karma-devotion__grid--item">{{localize "ED.Actor.Devotion.max"}}</div>
          <div class="karma-devotion__grid--item">{{localize "ED.Actor.Devotion.step"}}</div>
        </div>
        <div class="karma-devotion__grid--container">
          <div class="karma-devotion__grid--item">
            <input class="input__square-input--centered" name="system.devotion.value" value="{{actor.system.devotion.value}}">
          </div>
          <div class="karma-devotion__grid--item">
            <input class="input__square-input--centered" name="system.devotion.max" value="{{actor.system.devotion.max}}" {{#if (eq this.actor.type "character")}}readonly{{/if}}>
          </div>
          <div class="karma-devotion__grid--item">
            <input class="input__square-input--centered" name="system.devotion.step" value="{{actor.system.devotion.step}}">
          </div>
        </div>
      </div>

    <!-- Right Column -->
    <div class="layout__col--2">

      <!-- Attacks -->
      {{#if (eq this.actor.type "character")}}
        {{> "systems/ed4e/templates/actor/cards/special-abilities-characters.hbs"}}
      {{else if (or (eq this.actor.type "npc") (eq this.actor.type "creature") (eq this.actor.type "spirit") (eq this.actor.type "horror") (eq this.actor.type "dragon"))}}
        {{> "systems/ed4e/templates/actor/cards/special-abilities-npc.hbs"}}
      {{/if}}

    </div>
  </div>
</section>