<section class="tab {{tabs.notes.cssClass}}" data-group="sheet" data-tab="notes">
  <div class="sheet__editor">
    <div class="layout__row">

      <!-- Left Column -->
      <div class="layout__col--2">

        <!-- Namegiver -->
        {{#unless (or (eq actor.type "dragon") (eq actor.type "horror") (eq actor.type "spirit") (eq actor.type "creature"))}}
          <h2>{{localize "ED.Actor.Header.namegiver"}}</h2>

          <div class="container__block">
            {{#each actor.itemTypes.namegiver}}
              <div class="class-card__grid--container">
                <div class="class-card__grid--item"></div>
                <div class="class-card__grid--item">{{name}}</div>
                <div class="class-card__grid--item"></div>
                <div class="class-card__grid--item">
                  {{> "systems/ed4e/templates/global/card-options-chat.hbs"}}
                </div>
              </div>
            {{/each}}
          </div>
        {{/unless}}

        <!-- Circles -->
        <h2>{{localize "ED.Actor.Header.vocations"}}</h2>
        <div class="class-card__grid--body"></div>

        <!-- Disciplines Header -->
        <div class="container__block">
          <div class="class-card__grid--container container__header text-break__auto disciplines__grid">
            <div class="class-card__grid--item"></div>
            <div class="class-card__grid--item">{{localize "ED.Actor.Header.disciplines"}}</div>
            <div class="class-card__grid--item">{{localize "ED.Actor.Header.rank"}}</div>
            <div class="class-card__grid--item"></div>
          </div>

          {{#each actor.itemTypes.discipline}}
            <div class="item-id item-name__card" data-item-id="{{_id}}">
              {{> "systems/ed4e/templates/actor/cards/class-card.hbs"}}
            </div>
          {{/each}}

          <!-- Paths -->
          {{#if actor.itemTypes.path.length}}
            <div class="class-card__grid--container container__header text-break__auto paths__grid">
              <div class="class-card__grid--item"></div>
              <div class="class-card__grid--item">{{localize "ED.Actor.Header.paths"}}</div>
              <div class="class-card__grid--item">{{localize "ED.Actor.Header.rank"}}</div>
              <div class="class-card__grid--item"></div>
            </div>

            {{#each actor.itemTypes.path}}
              <div class="item-id item-name__card" data-item-id="{{_id}}">
                {{> "systems/ed4e/templates/actor/cards/class-card.hbs"}}
              </div>
            {{/each}}
          {{/if}}

          <!-- Questor -->
          {{#if actor.itemTypes.questor.length}}
            <div class="class-card__grid--container container__header text-break__auto questors__grid">
              <div class="class-card__grid--item"></div>
              <div class="class-card__grid--item">{{localize "ED.Actor.Header.questor"}}</div>
              <div class="class-card__grid--item">{{localize "ED.Actor.Header.rank"}}</div>
              <div class="class-card__grid--item"></div>
            </div>

            {{#each actor.itemTypes.questor}}
              <div class="item-id item-name__card" data-item-id="{{_id}}">
                {{> "systems/ed4e/templates/actor/cards/class-card.hbs"}}
              </div>
            {{/each}}
          {{/if}}
        </div>

        <!-- Legend -->
        {{#if (eq this.actor.type "character")}}
          <h2 class="legend__header one-line__vertical-align margin__none">
            <span class="legend__header-label">Legend</span>
            <span class="legend__header-icons">
              <button class="legend-point__history icon--button"
                  data-action="legendPointHistory">
                  <i class="fa-solid fa-scroll"
                  title="{{localize "ED.Actor.Buttons.legendHistory"}}"></i>
              </button>
            </span>
          </h2>
          <div class="container__block container__custom">
            <div class="legend__grid--container container__header">
              <div class="legend__grid--item">{{localize "ED.Actor.Header.legendCurrent"}}</div>
              <div class="legend__grid--item">{{localize "ED.Actor.Header.legendTotal"}}</div>
              <div class="legend__grid--item">{{localize "ED.Actor.Header.legendStatus"}}</div>
            </div>
            <div class="legend__grid--container">
              <div class="legend__grid--item">
                <input class="input__rectangle-lp-input--centered"
                      name="system.lp.current"
                      value="{{actor.system.lp.current}}">
              </div>
              <div class="legend__grid--item">
                <input class="input__rectangle-lp-input--centered"
                      name="system.lp.total"
                      value="{{actor.system.lp.total}}">
              </div>
              <div class="legend__grid--item">
                <input class="input__square-input--centered"
                      name="system.lp.status"
                      value="{{actor.system.lp.status}}">
              </div>
            </div>
          </div>
        {{/if}}

        <!-- Languages -->
        {{#if systemFields.languages}}
          <h2>{{localize "ED.Actor.Header.languages"}}</h2>
          <div class="flexrow">
          <span>
            <div class="container__header">{{localize "ED.Actor.Header.languagesSpoken"}}</div>
            {{formField systemFields.languages.fields.speak value=actor.system.languages.speak name="system.languages.speak"}}
          </span>
            <span>
            <div class="container__header">{{localize "ED.Actor.Header.languagesWritten"}}</div>
              {{formField systemFields.languages.fields.readWrite value=actor.system.languages.readWrite name="system.languages.readWrite"}}
          </span>
          </div>
        {{/if}}

      </div>

      <!-- Right Column: Biography -->
      <div class="layout__col--2">

        <h2>{{localize "ED.Actor.Header.biography"}}</h2>
        {{> "systems/ed4e/templates/global/editor.hbs"}}

        {{#if (ne actor.type "character")}}
          <div>
            {{formField systemFields.challenge.fields.rate value=actor.system.challenge.rate name="system.challenge.rate" localize=true}}
          </div>
        {{/if}}

      </div>
    </div>
  </div>
</section>
