<section class="tab {{tabs.skills.cssClass}}" data-group="sheet" data-tab="skills" data-editable="{{@root.editable}}">
  <h2>{{localize "ED.Actor.Header.skills"}}</h2>
  <div class="container__block">
    <div class="container__section">
      <div class="ability-card__grid--container container__header text-break__auto">
        <div class="ability-card__grid--item"></div>
        <div class="ability-card__grid--item">{{localize "ED.Actor.Header.generalSkills"}}</div>
        <div class="ability-card__grid--item">{{localize "ED.Actor.Header.action"}}</div>
        <div class="ability-card__grid--item">{{localize "ED.Actor.Header.rank"}}</div>
        <div class="ability-card__grid--item">{{localize "ED.Actor.Header.step"}}</div>
        <div class="ability-card__grid--item">{{localize "ED.Actor.Header.strain"}}</div>
        <div class="ability-card__grid--item">{{localize "ED.Actor.Header.attribute"}}</div>
      </div>
      {{#each actor.itemTypes.skill}}
        {{#if (eq this.system.skillType "general")}}
          {{> "systems/ed4e/templates/actor/cards/ability-card.hbs"}}
        {{/if}}
      {{/each}}
    </div>
    <div class="container__section">
      <div class="ability-card__grid--container container__header text-break__auto">
        <div class="ability-card__grid--item"></div>
        <div class="ability-card__grid--item">{{localize "ED.Actor.Header.artisanSkills"}}</div>
        <div class="ability-card__grid--item">{{localize "ED.Actor.Header.action"}}</div>
        <div class="ability-card__grid--item">{{localize "ED.Actor.Header.rank"}}</div>
        <div class="ability-card__grid--item">{{localize "ED.Actor.Header.step"}}</div>
        <div class="ability-card__grid--item">{{localize "ED.Actor.Header.strain"}}</div>
        <div class="ability-card__grid--item">{{localize "ED.Actor.Header.attribute"}}</div>
      </div>
      {{#each actor.itemTypes.skill}}
        {{#if (eq this.system.skillType "artisan")}}
          {{> "systems/ed4e/templates/actor/cards/ability-card.hbs"}}
        {{/if}}
      {{/each}}
    </div>
    <div class="container__section">
      <div class="ability-card__grid--container container__header text-break__auto">
        <div class="ability-card__grid--item"></div>
        <div class="ability-card__grid--item">{{localize "ED.Actor.Header.knowledgeSkills"}}</div>
        <div class="ability-card__grid--item">{{localize "ED.Actor.Header.action"}}</div>
        <div class="ability-card__grid--item">{{localize "ED.Actor.Header.rank"}}</div>
        <div class="ability-card__grid--item">{{localize "ED.Actor.Header.step"}}</div>
        <div class="ability-card__grid--item">{{localize "ED.Actor.Header.strain"}}</div>
        <div class="ability-card__grid--item">{{localize "ED.Actor.Header.attribute"}}</div>
      </div>
      {{#each actor.itemTypes.skill}}
        {{#if (eq this.system.skillType "knowledge")}}
          {{> "systems/ed4e/templates/actor/cards/ability-card.hbs"}}
        {{/if}}
      {{/each}}
    </div>
  </div>
</section>
