<section class="tab {{tabs.spells.cssClass}}" data-group="sheet" data-tab="spells">
  <h2>{{localize "ED.Actor.Header.spells"}}</h2>
  <div class="container__block">
    <nav class="tabs navigator__flex" data-group="spellsContent">
      {{#each tabsSpells as |tab|}}
        <a class="navigator__tab {{tab.cssClass}}" data-action="tab" data-group="{{tab.group}}" data-tab="{{tab.id}}"
           {{#if tab.tooltip}}data-tooltip="{{tab.tooltip}}"{{/if}}>
          {{#if tab.icon}}<i class="{{tab.icon}}"></i>{{/if}}
          {{#if tab.label}}<label>{{localize tab.label}}</label>{{/if}}
        </a>
      {{/each}}
    </nav>
    <!--spells tabs-->

    <!-- matrices -->
    <div class="tab {{tabsSpells.matrix.cssClass}}" data-group="spellsContent" data-tab="matrix">
      <div class="flexrow">
        <button class="button-attune-matrix" data-action="attuneMatrix">
          <i class="fas {{icons.attune}}"></i>
          {{localize "ED.Dialogs.Buttons.attuneMatrices"}}
        </button>
      </div>
      <div class="matrix-cards" style="flex-wrap: wrap;gap: 1rem;justify-content: space-around;">
        {{#each matrices}}
          {{>"systems/ed4e/templates/actor/cards/matrix-card.hbs"}}
        {{/each}}
      </div>
    </div>

    <!-- all spells -->
    <div class="tab {{tabsSpells.all.cssClass}}" data-group="spellsContent" data-tab="all">
      <div class="spell-cards-container">
        {{#if @root.editable}}
          <div class="spell-card-add-button" data-action="createChild" data-document="Item" data-type="spell" data-tooltip="{{localize 'ED.ToolTips.addSpell'}}">
            <i class="fas fa-plus"></i>
            <span>{{localize 'ED.Controls.addSpell'}}</span>
          </div>
        {{/if}}
        {{#each actor.itemTypes.spell}}
          {{> "systems/ed4e/templates/actor/cards/spell-card.hbs"}}
        {{/each}}
      </div>
    </div>

    <!-- spells by spellcasting discipline -->
    {{#each tabsSpells as |tab|}}
      {{#unless (or (eq tab.id "matrix") (eq tab.id "all"))}}
        <div class="tab {{tab.cssClass}}" data-group="spellsContent" data-tab="{{tab.id}}">
          <div class="spell-cards-container">
            {{#if @root.editable}}
              <div class="spell-card-add-button" data-action="createChild" data-document="Item" data-type="spell" data-tooltip="{{localize 'ED.ToolTips.addSpell'}}" data-spellcasting-type="{{tab.id}}">
                <i class="fas fa-plus"></i>
                <span>{{localize 'ED.Controls.addSpell'}}</span>
              </div>
            {{/if}}
            {{#each @root/actor.itemTypes.spell as |spell| }}
              {{#if (eq spell.system.spellcastingType ../id)}}
                {{> "systems/ed4e/templates/actor/cards/spell-card.hbs"}}
              {{/if}}
            {{/each}}
          </div>
        </div>
      {{/unless}}
    {{/each}}

  </div>
</section>