<button
  type="{{type}}"
  {{#if name}} name="{{name}}" {{/if}}
  class="{{cssClass}}"
  {{#if title}} title="{{localize title}}" {{/if}}
  {{#if action}} data-action="{{action}}" {{/if}}
  {{#if disabled}} disabled {{/if}}
>

  {{#if icon}} <i class="{{icon}}" inert></i> {{/if}}
  {{#if label}} <span>{{localize label}}</span> {{/if}}

</button>