<div class="itemControlGroup" data-item-id="{{_id}}">
  <a class="item-control item-display" data-action="displayChild" title="{{localize "ED.Controls.chat"}}">
    <i class="fas fa-comments"></i>
  </a>
  <a class="item-control item-delete" data-action="deleteChild" data-uuid="{{uuid}}" title="{{localize "ED.Controls.delete"}}">
    <i class="fas fa-trash"></i>
  </a>
  <a class="item-control item-edit" data-action="editChild" data-uuid="{{uuid}}" title="{{localize "ED.Controls.edit"}}">
    <i class="fas fa-edit"></i>
  </a>
</div>