<div class="card__effect">
  <div class="effect-card__grid--container item-id" data-item-id="{{_id}}">
    <div class="effect-card__grid--item">
      <img class="effect-icon" src="{{img}}" />
    </div>
    <div class="effect-card__grid--item">{{name}}</div>
    {{#unless isItemEffect}}
      <div class="effect-card__grid--item">{{origin}}</div>
    {{/unless}}
    <div class="effect-card__grid--item">
      <input type="checkbox"
             class="effect-card__grid--checkbox"
             data-action="toggleActiveEffect"
             data-effect-id="{{id}}"
             data-effect-uuid="{{uuid}}"
             {{#unless disabled}}checked{{/unless}}
      />
    </div>
    <div class="effect-card__grid--item">{{duration.remaining}}/{{duration.rounds}}</div>
    <div class="effect-card__grid--item">{{> "systems/ed4e/templates/global/card-options-effect.hbs" }}</div>
  </div>
  <div class="card__description card__description--toggle display__inline-block">
    <span class="card__description--content">
      {{{system.description.value}}}
    </span>
  </div>
</div>
