<div class="roll-prompt" id="roll-prompt-form" autocomplete="off">
  <div class="flex-column">
    <div class="step partial__two">
      <div class="partial__two">
        <label class="modifier-description">{{localize "ED.Dialogs.RollPrompt.step"}}: </label>
      </div>
      <div class="partial__two">
        <input class="input__circle-input--centered" id="step-mod-input"
               value={{step.base}} name="step.base" data-type="number" autofocus />
      </div>
    </div>
  </div>

  {{#if ( ne testType "arbitrary") }}
    <div class="flex-column">
      <div class="modifier partial__two">
        <div class="partial__two">
          <label class="modifier-description">{{localize "ED.Dialogs.RollPrompt.modifier"}}:</label>
        </div>
        <div class="partial__two">
          <input class="input__circle-input--centered" id="step-mod-input"
                 value={{step.modifiers.manual}} name="step.modifiers.manual"
                 data-type="number" autofocus />
        </div>
      </div>
    </div>
  {{/if}}

  <div class="flex-column">
    <div class="modifier partial__two">
      <div class="partial__two">
        <label class="modifier-description">{{localize "ED.Dialogs.RollPrompt.difficulty"}}:</label>
      </div>
      <div class="partial__two">
        <input class="input__circle-input--centered" id="difficulty-input"
               value={{target.base}} name="target.base" data-type="number" />
      </div>
    </div>
  </div>

  {{#if ( ne testType "arbitrary") }}
    <div class="flex-column">
      <div class="modifier partial__two">
        <div class="partial__two">
          <label class="modifier-description">{{localize "ED.Dialogs.RollPrompt.strain"}}:</label>
        </div>
        <div class="partial__two">
          <input class="input__circle-input--centered" id="strain-input"
                 value={{strain.total}} name="strain.total" data-type="number" />
        </div>
      </div>
    </div>
  {{/if}}


  <div class="flex-column">
    <div class="partial__four">
      <label class="modifier-description">{{localize "ED.Dialogs.RollPrompt.karma"}}: </label>
    </div>
    <div class="partial__four">
      <input class="input__circle-input--centered" id="karma-input" value={{karma.pointsUsed}}
             name="karma.pointsUsed" data-type="number" data-resource="karma" />
    </div>
    <div class="partial__four">
      <label class="modifier-description" title="{{localize "
                                        ED.Dialogs.RollPrompt.karmaDice:"}}+{{karma.dice}}">{{localize
        "ED.Dialogs.RollPrompt.karmaStep"}}: </label>
    </div>
    <div class="partial__four">
      <input class="input__circle-input--centered" id="karma-step" value={{karma.step}}
             name="karma.step" data-type="number" />
    </div>
  </div>
  <div class="flex-column">
    <div class="partial__four">
      <label class="modifier-description">{{localize "ED.Dialogs.RollPrompt.devotion"}}: </label>
    </div>
    <div class="partial__four">
      <input class="input__circle-input--centered" id="devotion-input"
             value={{devotion.pointsUsed}} name="devotion.pointsUsed" data-type="number"
             data-resource="devotion" />
    </div>

    <div class="partial__four">
      <label class="modifier-description" title="{{localize "
                                        ED.Dialogs.RollPrompt.devotionDice:"}}+{{devotion.dice}}">{{localize "ED.Dialogs.RollPrompt.devotionStep"}}:</label>
    </div>
    <div class="partial__four">
      <input class="input__circle-input--centered" id="devotion-step" value={{devotion.step}}
             name="devotion.step" data-type="number" />
    </div>
  </div>
  <div class="undefined">
    clickable options like "attack to stun"
  </div>
</div>