<div class="roll-prompt" id="roll-prompt-form" autocomplete="off">
  <fieldset>
    <legend>{{localize "ED.Dialogs.RollPrompt.step"}}</legend>
    {{formGroup
      optionsFields.step.fields.base
      value=step.base
      hint=""
      autofocus=true
      localize=true
    }}
    {{formGroup
      optionsFields.step.fields.total
      value=step.total
      hint=""
      disabled=true
      data-tooltip=""
    }}

    {{#if ( ne testType "arbitrary") }}
      <label class="modifier-description">{{localize "ED.Dialogs.RollPrompt.modifier"}}</label>
      {{#each step.modifiers as |modifier|}}
        {{formGroup
          ../optionsFields.step.fields.modifiers.model
          name=(concat "step.modifiers." @key)
          value=modifier
          label=@key
        }}
      {{/each}}
    {{/if}}
  </fieldset>

  {{#if target}}
    <fieldset>
      <legend class="modifier-description">{{localize "ED.Dialogs.RollPrompt.difficulty"}}:</legend>
      {{#if target.public}}
        {{formGroup
          optionsFields.target.fields.base
          name="target.base"
          value=target.base
          hint=""
        }}
      {{else}}
        ???
      {{/if}}
    </fieldset>
  {{/if}}

  {{#if strain }}
    <fieldset>
      <legend class="modifier-description">{{localize "ED.Dialogs.RollPrompt.strain"}}:</legend>
      {{formGroup
        optionsFields.strain.fields.base
        name="strain.total"
        value=strain.base
        hint=""
      }}

      {{#if ( ed-hasItems strain.modifiers ) }}
        <label class="modifier-description">{{localize "ED.Dialogs.RollPrompt.modifier"}}</label>
        {{#each strain.modifiers as |modifier|}}
          {{formGroup
            optionsFields.strain.fields.modifiers.model
            name=(concat "strain.modifiers." @key)
            value=modifier
            label=@key
          }}
        {{/each}}
      {{/if}}
    </fieldset>
  {{/if}}


  <fieldset>
    <legend>{{localize "Ressourcen"}}</legend>
    <div class="flexrow">
      {{formGroup
        optionsFields.karma.fields.pointsUsed
        value=karma.pointsUsed
        hint=""
      }}
      {{formGroup
        optionsFields.karma.fields.step
        value=karma.step
        hint=""
      }}
      {{formInput
        optionsFields.karma.fields.dice
        value=karma.dice
        disabled=true
      }}
    </div>
    <div class="flexrow">
      {{formGroup
        optionsFields.devotion.fields.pointsUsed
        value=devotion.pointsUsed
        hint=""
      }}
      {{formGroup
        optionsFields.devotion.fields.step
        value=devotion.step
        hint=""
      }}
      {{formInput
        optionsFields.devotion.fields.dice
        value=devotion.dice
        disabled=true
      }}
    </div>
  </fieldset>
  <div class="undefined">
    clickable options like "attack to stun"
  </div>
</div>