<div class="chat-flavor-header">{{{CONFIG.ED4E.ROLLS.rollTypes.jumpUp.label}}}</div>

<div class="text--center">
  {{#if jumpUpAbilityContentAnchor}}
    {{{jumpUpAbilityContentAnchor}}}
  {{else}}
    {{localize "ED.Chat.Flavor.jumpUpRollDefault"}}
  {{/if}}
</div>

<div class="jump-up-visualization">

  <div class="custom-flavor text--center">
    {{{ customFlavor }}}
  </div>

  <div class="message-buttons flexrow">
    {{#if hasEffects}}
      {{> "systems/ed4e/templates/chat/chat-buttons/assign-effect.hbs"}}
    {{/if}}

    {{#each messageButtons}}
      {{> "systems/ed4e/templates/global/button.hbs" this}}
    {{/each}}
  </div>

</div>

{{#if (eq ruleOfOne true)}}
  <div class="roll-failure">{{localize "ED.Rolls.ruleOfOne"}}</div>
{{else}}
  {{#if (ne target.total 0)}}
    {{> "systems/ed4e/templates/chat/dice-partials/roll-successes.hbs"}}
  {{/if}}
  <div class="message-buttons flexrow">
  </div>
  <div class="modifier-lists flexrow">
    {{> "systems/ed4e/templates/chat/dice-partials/roll-step-modifier.hbs"}}
    {{#if target.public}}
      {{> "systems/ed4e/templates/chat/dice-partials/roll-target-modifier.hbs"}}
    {{/if}}
  </div>
{{/if}}
