<section class="tab {{tabs.thread.cssClass}} scrollable" data-group="sheet" data-tab="thread">
  {{#if isGM}}
    <!-- Button controls -->
  <div class="item-controls flexrow">
    <a class="advancement__title class__add-level" data-action="addThreadLevel" title="{{localize "ED.ToolTips.addThreadLevel"}}">
      <b>{{localize "ED.Item.PhysicalItems.addThreadLevel"}}</b>
      <i class="fas fa-plus"></i>
    </a>
    <a class="item-control thread__delete-level text-align-middle" data-action="deleteThreadLevel"  title="{{localize "ED.ToolTips.deleteThreadLevel"}}"
       data-drop-function="delete-pool-ability">
      <b>{{localize "ED.Item.PhysicalItems.deleteThreadLevel"}}</b>
      <i class="fas fa-trash"></i>
    </a>
  </div>
  {{/if}}

  <!-- basic information -->
  <fieldset>
    <div>
      <div class="undefined">
        is GM = {{isGM}}
      </div>
      
      {{#if isGM}}
        {{!-- isIdentified --}}
        {{formField systemFields.threadData.fields.isIdentified name="system.threadData.isIdentified" value=item.system.threadData.isIdentified localize=true}}
          {{#if item.system.threadData.isIdentified}}
          {{!-- isAnalyzed --}}
          {{formField systemFields.threadData.fields.isAnalyzed name="system.threadData.isAnalyzed" value=item.system.threadData.isAnalyzed localize=true}}
          {{!-- Mystical Defense --}}
          {{formField systemFields.threadData.fields.characteristics.fields.defenses.fields.mystical.fields.value name="system.threadData.characteristics.defenses.mystical.value" value=item.system.threadData.characteristics.defenses.mystical.value localize=true}}
          {{!-- maxThreads --}}
          {{formField systemFields.threadData.fields.maxThreads name="system.threadData.maxThreads" value=item.system.threadData.maxThreads localize=true}}
          {{!-- tier --}}
          {{formField systemFields.threadData.fields.tier name="system.threadData.tier" value=item.system.threadData.tier localize=true}}
          {{!-- enchantmentPattern --}}
          {{formField systemFields.threadData.fields.enchantmentPattern name="system.threadData.enchantmentPattern" value=item.system.threadData.enchantmentPattern localize=true}}
          {{/if}}
      {{else}}
          {{#if item.system.threadData.isIdentified}}
          <div>
            {{localize "ED.Item.PhysicalItems.hasTruePattern"}}
          </div>
          {{/if}}
          {{#if item.system.threadData.isAnalyzed}}
          {{!-- Mystical Defense --}}
          {{formField systemFields.threadData.fields.characteristics.fields.defenses.fields.mystical.fields.value name="system.threadData.characteristics.defenses.mystical.value" value=item.system.threadData.characteristics.defenses.mystical.value localize=true}}
          {{!-- maxThreads --}}
          {{formField systemFields.threadData.fields.maxThreads name="system.threadData.maxThreads" value=item.system.threadData.maxThreads localize=true}}
          {{!-- tier --}}
          {{formField systemFields.threadData.fields.tier name="system.threadData.tier" value=item.system.threadData.tier localize=true}}
          {{!-- enchantmentPattern --}}
          {{formField systemFields.threadData.fields.enchantmentPattern name="system.threadData.enchantmentPattern" value=item.system.threadData.enchantmentPattern localize=true}}
          {{/if}}
      {{/if}}
    </div>
  </fieldset>
  {{#if (or isGM item.system.threadData.isIdentified)}}
  <!-- actions -->
  <div class="item-controls flexrow">
    <button data-action="itemHistoryCheck" title="{{localize "ED.ToolTips.itemHistoryCheck"}}">
      <span>
        <b>{{localize "ED.Item.PhysicalItems.itemHistoryCheck"}}</b>
        <i class="fas {{config.icons.itemHistory}}"></i>
      </span>
    </button>
    <button data-action="researchCheck" title="{{localize "ED.ToolTips.researchCheck"}}">
      <span>
        <b>{{localize "ED.Item.PhysicalItems.researchCheck"}}</b>
        <i class="fas {{config.icons.research}}"></i>
      </span>
    </button>
    <button data-action="weaveThreadCheck" title="{{localize "ED.ToolTips.weaveThreadCheck"}}">
      <span>
        <b>{{localize "ED.Item.PhysicalItems.weaveThreadCheck"}}</b>
        <i class="fas {{config.icons.threadWeaving}}"></i>
      </span>
    </button>
  </div>
{{/if}}
  <!-- Level Contents -->
  {{#each item.system.threadData.levels}}
    {{#if (or ../isGM this.isAnalyzed)}}
    <fieldset>
      <div>
        <fieldset>
          <div>
          {{!-- level --}}
          {{formField this.schema.fields.level name=(concat "system.threadData.levels." @index ".level") value=this.level localize=true }}
          {{!-- isAnalyzed --}}
          {{formField this.schema.fields.isAnalyzed name=(concat "system.threadData.levels." @index ".isAnalyzed") value=this.isAnalyzed localize=true disabled=(not ../isGM)}}
          {{!-- isActive --}}
          {{formField this.schema.fields.isActive name=(concat "system.threadData.levels." @index ".isActive") value=this.isActive localize=true disabled=(not ../isGM)}}
          </div>
        </fieldset>
        {{!-- keyKnowledge --}}
        <fieldset>
          <div>
            {{#if ../isGM}}
            {{!-- keyKnowledge isRequired --}}
            {{formField this.schema.fields.keyKnowledge.fields.isRequired name=(concat "system.threadData.levels." @index ".keyKnowledge.isRequired") value=this.keyKnowledge.isRequired localize=true}}
            {{/if}}
            {{#if this.keyKnowledge.isRequired}}
            {{!-- keyKnowledge question --}}
            {{formField this.schema.fields.keyKnowledge.fields.question name=(concat "system.threadData.levels." @index ".keyKnowledge.question") value=this.keyKnowledge.question localize=true}}
            {{!-- keyKnowledge answer --}}
            {{formField this.schema.fields.keyKnowledge.fields.answer name=(concat "system.threadData.levels." @index ".keyKnowledge.answer") value=this.keyKnowledge.answer localize=true}}
            {{!-- keyKnowledge isKnown --}}
            {{formField this.schema.fields.keyKnowledge.fields.isKnown name=(concat "system.threadData.levels." @index ".keyKnowledge.isKnown") value=this.keyKnowledge.isKnown localize=true disabled=(not ../isGM)}}
            {{/if}}
          </div>
        </fieldset>
        {{!-- deed --}}
        <fieldset>
          <div>
            {{#if ../isGM}}
            {{!-- deed isRequired --}}
            {{formField this.schema.fields.deed.fields.isRequired name=(concat "system.threadData.levels." @index ".deed.isRequired") value=this.deed.isRequired localize=true}}
            {{/if}}
            {{#if this.deed.isRequired}}
            {{!-- deed description --}}
            {{formField this.schema.fields.deed.fields.description name=(concat "system.threadData.levels." @index ".deed.description") value=this.deed.description localize=true}}
            {{!-- deed isCompleted --}}
            {{formField this.schema.fields.deed.fields.isCompleted name=(concat "system.threadData.levels." @index ".deed.isCompleted") value=this.deed.isCompleted localize=true disabled=(not ../isGM)}}
            {{/if}}
          </div>
        </fieldset>
        <fieldset>
          <div>
            {{!-- effect --}}
            {{formField this.schema.fields.effect name=(concat "system.threadData.levels." @index ".effect") value=this.effect localize=true}}
            {{!-- activeEffect --}}
            {{formField this.schema.fields.activeEffect name=(concat "system.threadData.levels." @index ".activeEffect") value=this.activeEffect localize=true}}
          </div>  
        </fieldset>
      </div> 
    </fieldset>
    {{/if}}
    {{/each}}
</section>
