<section class="tab {{tabs.true-pattern.cssClass}} scrollable" data-group="sheet" data-tab="true-pattern">
{{#if item.system.truePattern}}
  <!-- Button controls -->
  <div class="item-controls flexrow">
    <button data-action="weaveNewThread" data-tooltip="{{localize "ED.ToolTips.threadItemWeaveNewThread"}}">
      <i class="fas {{config.icons.add}}" inert></i>
      <span>{{localize "ED.Item.PhysicalItems.createThreadItemThread"}}</span>
    </button>
    {{#if editable}}
    <button data-action="deleteTruePattern" data-tooltip="{{localize "ED.ToolTips.threadItemDeleteTruePattern"}}">
      <i class="fas {{config.icons.delete}}" inert></i>
      <span>{{localize "ED.Item.PhysicalItems.deleteTruePattern"}}</span>
    </button>
    {{/if}}
  </div>
  {{#if editable}}
  <div class="item-controls flexrow">
    <button data-action="addThreadItemLevel" data-tooltip="{{localize "ED.ToolTips.addThreadItemLevel"}}">
      <i class="fas {{config.icons.add}}" inert></i>
      <span>{{localize "ED.Item.PhysicalItems.addThreadItemLevel"}}</span>
    </button>
    <button data-action="deleteThreadItemLevel" data-tooltip="{{localize "ED.ToolTips.deleteThreadItemLevel"}}">
      <i class="fas {{config.icons.delete}}" inert></i>
      <span>{{localize "ED.Item.PhysicalItems.deleteThreadItemLevel"}}</span>
    </button>
  </div>
  {{/if}}

  <!-- basic information -->
  <fieldset>
    <legend>{{localize "ED.Item.PhysicalItems.truePatternBaseInformation"}}</legend>
    {{formGroup systemFields.truePattern.fields.maxThreads value=item.system.truePattern.maxThreads disabled=(not editable)}}
    {{formGroup systemFields.truePattern.fields.mysticalDefense value=item.system.truePattern.mysticalDefense disabled=(not editable)}}
    {{formGroup systemFields.truePattern.fields.tier value=item.system.truePattern.tier disabled=(not editable)}}
    {{formGroup systemFields.truePattern.fields.attachedThreads value=item.system.truePattern.attachedThreads disabled=(not editable)}}
  </fieldset>

  <!--thread item levels-->
  {{#each item.system.truePattern.threadItemLevels}}
    <fieldset>
      <legend>{{localize "ED.Item.PhysicalItems.threadItemLevelHeader" level=this.level}}</legend>
    </fieldset>
  {{/each}}


  {{!--formField this.schema.fields.level name=(concat "system.threadData.levels." @index ".level") value=this.level localize=true --}}
{{else}}
  {{#if editable}}
  <button data-action="addTruePattern" aria-label="{{localize "ED.ToolTips.threadItemAddTruePattern"}}">
    <!--i class="fas {{config.icons.add}}" inert></i-->
    <span>{{localize "ED.Item.PhysicalItems.addTruePattern"}}</span>
  </button>
  {{/if}}
{{/if}}
</section>
