<section class="tab {{tabs.true-pattern.cssClass}}" data-group="sheet" data-tab="true-pattern">

  {{#if showTruePattern}}

    <!-- Playing controls -->
    {{#unless editable}}
      <div class="item-controls flexrow">

        {{> "systems/ed4e/templates/global/button.hbs"
          type="button"
          cssClass="item-control"
          action="itemHistoryCheck"
          label="ED.Item.PhysicalItems.itemHistoryCheck"
          tooltip="ED.ToolTips.itemHistoryCheck"
          icon=(concat "fa-thin " config.icons.itemHistory)
        }}

        {{> "systems/ed4e/templates/global/button.hbs"
          type="button"
          cssClass="item-control"
          action="researchCheck"
          label="ED.Item.PhysicalItems.researchCheck"
          tooltip="ED.ToolTips.researchCheck"
          icon=config.icons.research
        }}

        {{> "systems/ed4e/templates/global/button.hbs"
          type="button"
          cssClass="item-control"
          action="weaveThread"
          label="ED.Item.PhysicalItems.weaveThread"
          tooltip="ED.ToolTips.weaveThread"
          icon=config.icons.threadWeaving
        }}

      </div>
    {{/unless}}

    <!-- Button controls -->
    <div class="item-controls flexrow">
      {{#if editable}}
        {{> "systems/ed4e/templates/global/button.hbs"
          type="button"
          action="deleteTruePattern"
          label="ED.Item.PhysicalItems.deleteTruePattern"
          tooltip="ED.ToolTips.threadItemDeleteTruePattern"
          icon=(concat "fas " config.icons.delete)
        }}
      {{/if}}
    </div>

    <!-- Add/Delete Ranks -->
    {{#if editable}}
      <div class="item-controls flexrow">

        {{> "systems/ed4e/templates/global/button.hbs"
          type="button"
          action="addThreadItemLevel"
          label="ED.Item.PhysicalItems.addThreadItemLevel"
          tooltip="ED.ToolTips.addThreadItemLevel"
          icon=(concat "fas " config.icons.add)
        }}

        {{> "systems/ed4e/templates/global/button.hbs"
          type="button"
          action="deleteThreadItemLevel"
          label="ED.Item.PhysicalItems.deleteThreadItemLevel"
          tooltip="ED.ToolTips.deleteThreadItemLevel"
          icon=(concat "fas " config.icons.delete)
        }}

      </div>
    {{/if}}

    <!-- True Pattern Data -->
    {{> "systems/ed4e/templates/thread-magic/true-pattern-tabs.hbs"}}

  {{else}}

    {{#if editable}}
      <button data-action="addTruePattern" aria-label="{{localize "ED.ToolTips.threadItemAddTruePattern"}}">
        <!--i class="fas {{config.icons.add}}" inert></i-->
        <span>{{localize "ED.Item.PhysicalItems.addTruePattern"}}</span>
      </button>
    {{/if}}

  {{/if}}

</section>
