{{#each actor.system.attributes }}
<div class="attribute-card__grid--container attribute__roll">
    <button type="button"
        class="action-buttons icon--button icon icon--d20 rollable"
        data-action="rollable"
        data-roll-type="attribute"
        data-attribute="{{@key}}"
        data-tooltip=""
        aria-label="{{localize 'ED.Roll.Attribute'}}">
    </button>
    <div class="attribute-card__grid--item attribute__name">
        <label>
            {{#with (lookup ../config.attributes @key)}}
            {{label}}
            {{/with}}
        </label>
    </div>
    <div class="attribute-card__grid--item">
        <input class="input__square-input--centered" name="system.attributes.{{@key}}.value" value="{{value}}">
    </div>
    <div class="attribute-card__grid--item attribute__increases">
        <span class="circle {{#if (gte timesIncreased 1)}}filled{{/if}}"></span>
        <span class="circle {{#if (gte timesIncreased 2)}}filled{{/if}}"></span>
        <span class="circle {{#if (gte timesIncreased 3)}}filled{{/if}}"></span>
    </div>

    <div class="attribute-card__grid--item">
        <div class="buffer-input">
            <button type="button" class="buffer buffer--minus" aria-label="Decrease"></button>
                <input class="input__square-input--centered" name="system.attributes.{{@key}}.step" value="{{this.step}}"readonly>
            <button type="button" class="buffer buffer--plus" aria-label="Increase"></button>
        </div>        
    </div>
</div>
{{/each}}





                        
            