<div class="flexcol matrix-card" data-uuid="{{this.uuid}}">
  <div class="matrix-img flexcol">
    <figure class="matrix-card-figure">
      <figcaption class="" data-uuid="{{this.uuid}}">
        {{this.name}}
      </figcaption>
      <img src="{{this.img}}" alt="{{this.name}}" class="" data-uuid="{{this.uuid}}"/>

      <!-- Split action overlay -->
      <div class="matrix-actions-overlay">
        <!-- Left side - Attune action -->
        <div class="action-zone attune-zone"
             data-action="attuneMatrix"
             data-uuid="{{this.uuid}}"
             data-tooltip={{localize "ED.ToolTips.attuneMatrix"}}>
          <img class="custom-icon" src="systems/ed4e/assets/icons/weave-threads.svg" alt="Attune Matrix">
        </div>

        <!-- Right side - Cast action -->
        <div class="action-zone cast-zone"
             data-action="castMatrix"
             data-uuid="{{this.uuid}}"
             data-tooltip={{localize "ED.ToolTips.castSpellFromMatrix"}}>
          <img class="custom-icon" src="systems/ed4e/assets/icons/cast.svg" alt="Cast Spell">
        </div>
      </div>
    </figure>

  </div>

  <div class="spell-links-container">
    {{#each this.system.matrix.spells}}
      <div class="spell-link">
        {{{ed-linkForUuid this}}}
      </div>
    {{/each}}
  </div>
</div>