
<div class="card__power favoritable" data-uuid="{{uuid}}">
    <div class="power-card__grid--container item-id" data-item-id="{{_id}}">
        <div class="power-card__grid--item icons__dice {{#if (and (or (ne this.system.powerStep 0) (ne this.system.strain 0)) this.system.rollType)}}has-overlay{{/if}}">
        <img class="power-icon" src="{{img}}" alt="{{name}}">
        {{#if (and (ne this.system.powerStep 0) this.system.rollType)}}
            <button
                type="button"
                class="icon--button icon icon--d20 rollable icon--overlay"
                data-action="rollable"
                data-roll-type="ability"
                data-tooltip="Roll {{name}}"
                data-tooltip-direction="UP"
                aria-label="Roll {{name}}">
            </button>
        {{else}}
            {{#if (and (ne this.system.strain 0) this.system.rollType)}}
            <button
                type="button"
                class="icon--button icon icon--blood take-strain icon--overlay"
                data-action="takeStrain"
                data-attribute="{{@key}}"
                data-tooltip="{{localize 'ED.Data.Item.Action.FIELDS.strain.label'}}"
                data-tooltip-direction="UP"
                aria-label="{{localize 'ED.Data.Item.Action.FIELDS.strain.label'}}">
            </button>
            {{/if}}
        {{/if}}
        </div>
        <div class="power-card__grid--item card__name" data-action="expandItem">{{name}}</div>
        <div class="power-card__grid--item">{{system.action}}</div>
        <div class="power-card__grid--item text__alignment--center">{{system.powerStep}}</div>
        <div class="power-card__grid--item text__alignment--center">{{system.damageStep}}</div>
        <div class="power-card__grid--item text__alignment--center">{{system.strain}}</div>
        <div class="power-card__grid--item text__alignment--center">{{> "systems/ed4e/templates/global/card-options-enhance.hbs"}}</div>
    </div>
    <div class="card__description card__description--toggle display__inline-block">
        <span class="card__description--content">
            {{{system.description.value}}}
        </span>
        <span>
            {{#each this.effects as |effects id|}}
            {{> "systems/ed4e/templates/actor/cards/effect-card-link.hbs" effects }}
            {{/each}}
        </span>
    </div>
</div>
