<div>
      <h2>{{localize "ED.Actor.Header.defaultAttacks"}}</h2>
      <div>


        {{#if this.actor.namegiver.system.tailAttack}}
          <div class="partial__three">
            <button class="attack-substitute__weapon-attack" data-action="attack" data-attack-type="weapon">{{localize "ED.Actor.Buttons.weaponAttack"}}</button>
          </div>
          <div class="partial__three">
            <button class="attack-substitute__unarmed-attack" data-action="attack" data-attack-type="unarmed">{{localize "ED.Actor.Buttons.unarmedAttack"}}</button>
          </div>
          <div class="partial__three">
            <button class="attack-substitute__tail-attack" data-action="attack" data-attack-type="tail">{{localize "ED.Actor.Buttons.tailAttack"}}</button>
          </div>
        {{else}}
          <div class="partial__two">
            <button class="attack-substitute__weapon-attack" data-action="attack" data-attack-type="weapon">{{localize "ED.Actor.Buttons.weaponAttack"}}</button>
          </div>
          <div class="partial__two">
            <button class="attack-substitute__unarmed-attack" data-action="attack" data-attack-type="unarmed">{{localize "ED.Actor.Buttons.unarmedAttack"}}</button>
          </div>
        {{/if}}
      </div>
    </div>
    {{!-- to be removed --}}
    <br>
    <br>
    <div>
      <h2 class="undefined">{{localize "ED.Actor.Header.specialAbility"}}</h2>
      <div class="undefined">
        how shall this look like? Similar to rollable items?	
        {{#each actor.itemTypes.specialAbility}}
          <div class="item-id one-line__vertical-align" data-item-id="{{_id}}">
            <div class="partial__two one-line__vertical-align">
              <img src="{{img}}" data-edit="img" title="{{name}}" height="25" width="25" />
              {{name}}
            </div>
            <div class="partial__two one-line__vertical-align">
              {{> "systems/ed4e/templates/global/card-options-chat.hbs"}}
            </div>
          </div>
        {{/each}}
      </div>
    </div>