<div class="spell-knack-card draggable" data-uuid="{{this.uuid}}" data-item-id="{{_id}}"
     style="box-shadow: 0 0 10px {{lookup @root.config.spellcastingColors system.spellcastingType}}; border-color: {{lookup @root.config.spellcastingColors system.spellcastingType}};">
  {{#if @root.editable}}
    <div class="spell-card__delete" data-action="deleteChild" data-uuid="{{this.uuid}}" data-tooltip="{{localize 'ED.Controls.delete'}}">
      <i class="fas {{@root.config.SYSTEM.icons.delete}}"></i>
    </div>
  {{/if}}

  {{!-- Spell Card Header --}}

  {{!-- Header Section --}}
  <div class="spell-card__header" data-action="editChild" data-uuid="{{this.uuid}}" data-tooltip="{{localize 'ED.Controls.edit'}}">
    <div class="spell-card__name-section">
      <h3 class="spell-card__name">{{name}}</h3>
    </div>
  </div>

</div>
