<div class="thread-card__grid--container" data-uuid="{{uuid}}" data-item-id="{{id}}" data-item-type="{{type}}">
  <div class="thread-card__grid--item icons__thread">
    <img class="thread-icon__visible" src="{{img}}" alt="{{name}}">
  </div>
  <div class="thread-card__grid--item">{{name}}</div>
  <div class="thread-card__grid--item">{{system.level}}</div>
  <div class="thread-card__grid--item">{{lookup @root/config.threadTypes system.threadType}}</div>
  <div class="thread-card__grid--item">{{{lookup @root/threadConnectedItems id}}}</div>
  <div class="thread-card__grid--item">
    {{> "systems/ed4e/templates/global/card-options-enhance.hbs"}}
  </div>
</div>

<div class="card__description card__description--toggle display__inline-block">
  <div class="card__description--content">
    {{{system.description.value}}}
  </div>
  <div>
    {{#each this.effects as |effects id|}}
      {{> "systems/ed4e/templates/actor/cards/effect-card-link.hbs" effects }}
    {{/each}}
  </div>
</div>
