<section class="tab classes {{tabs.classes.cssClass}}" data-group="primary" data-tab="classes">

  <h2 class="classes__header header-bar">
    {{localize "ED.Dialogs.CharGen.chooseClass"}}
  </h2>

  <div class="container__block container__custom">
    <div class="layout__row">
      <div class="layout__col layout__col--2">
        <div class="container__section class-selection">

          <div class="discipline-questor-switch-group flexrow label--rail">
            <label class="discipline-questor-switch-label flexrow">
              <span class="{{#unless isAdept}}deselected-class-type{{/unless}}">
                {{localize "ED.Dialogs.CharGen.discipline"}}
              </span>
              <input type="checkbox" name="isAdept" {{checked isAdept}} hidden="">
              <span class="{{#if isAdept}}deselected-class-type{{/if}}">
                {{localize "ED.Dialogs.CharGen.questor"}}
              </span>
            </label>
          </div>

          {{!-- Choose class --}}
          <div class="available-disciplines-questors-choices flexrow">
            <select id="char-gen-class-select" name="selectedClass">
              <option value="">{{localize "ED.Data.placeholderBlankSelectOption"}}</option>
              {{#if isAdept}}
                {{selectOptions disciplineRadioChoices selected=selectedClass}}
              {{else}}
                {{selectOptions questorRadioChoices selected=selectedClass}}
              {{/if}}
            </select>
          </div>

          {{#if selectedClass}}
          <p class="discipline-selection__link">
            {{{ed-linkForUuid selectedClass}}}
          </p>
          {{/if}}

          <div class="class-image-preview">
            {{#if classDocument}}
              <img src="{{classDocument.img}}" alt="{{localize "ED.Dialogs.CharGen.classImageAlt"}}">
            {{/if}}
          </div>

        </div>
      </div> 

      <div class="layout__col layout__col--1">

        <div class="container__section class-abilities-selection flexcol {{#unless classDocument}}invisible{{/unless}}">

          <div class="container__section abilities-explainer">
            <h3 class="item-section__header item-section__header--abilities label--rail">
              <span class="label__text">
                {{localize "ED.Dialogs.CharGen.abilities"}}
              </span>
            </h3>
            <p class="explainer-text">
              {{#if isAdept}}
                {{{localize "ED.Dialogs.CharGen.chooseTalentsRules"}}}
              {{else}}
                {{{localize "ED.Dialogs.CharGen.chooseDevotionRules"}}}
              {{/if}}
            </p>
          </div>
 
          <div class="rank-assignment">
            <div class="availability-meter available-talent-ranks">
              <div class="availability-meter__info">
                <label>
                  <span>
                    {{localize "ED.Dialogs.CharGen.availableRanks"}}:
                    {{lookup availableRanks (ifThen isAdept "talent" "devotion")}}
                  </span>
                </label>
                <meter
                  value="{{lookup availableRanks (ifThen isAdept "talent" "devotion")}}"
                  min="0"
                  max="{{lookup config.availableRanks (ifThen isAdept "talent" "devotion")}}">
                </meter>
              </div>
              <button class="reset-points"
                      id="char-gen-clear-talent-ranks-button"
                      type="button"
                      title="{{localize "ED.Dialogs.ToolTips.resetAbilityRanks"}}"
                      data-action="reset"
                      data-reset-type="classAbilities">
                <i class="fa-light fa-arrows-rotate"></i>
                {{localize "ED.Dialogs.CharGen.Buttons.resetRanks"}}
              </button>
            </div>
          </div>

          <div class="entry-listing-header">
            {{#if isAdept}}
              <h3 class="label--rail">
                <span class="label__text">
                  {{localize "ED.Dialogs.CharGen.optionalTalents"}}
                </span>
              </h3>
            {{else}}
              <h3 class="label--rail">
                <span class="label__text">
                  {{localize "ED.Dialogs.CharGen.optionalDevotions"}}
                </span>
              </h3>
            {{/if}}
          </div>

          <div class="talent-listing">

            <div class="optional-talents-pool entry-listing">

              <div class="assign-value-entries">
                {{#each classDocument.system.advancement.abilityOptions.novice}}
                  <div class="assign-value-entry">

                    <div class="entry-name" data-ability-uuid="{{this}}">
                      <label for="char-gen-ability-option-radio">
                        <input type="radio"
                               id="char-gen-ability-option-radio"
                               name="abilityOption"
                               value="{{this}}"
                               {{checked (ed-hasOwnProperty @root.abilities.optional this)}}>
                        {{{ed-linkForUuid this}}}
                      </label>
                    </div>

                    <div class="rank-change">
                      {{#if (ed-hasOwnProperty @root.abilities.optional this)}}
                        <span class="decrease-value-button rank-decrease rank-change-icon"
                              title="{{localize 'X.Decrease Rank Value'}}"
                              data-change-type="decrease"
                              data-action="decreaseAbility"
                              data-ability-uuid="{{this}}"
                              data-ability-type="optional">
                          <i class="fa-light fa-circle-minus"></i>
                        </span>
                        <span class="rank-change-value">
                          {{lookup @root.abilities.optional this}}
                        </span>
                        <span class="increase-value-button rank-increase rank-change-icon"
                              title="{{localize 'X.Increase Rank Value'}}"
                              data-change-type="increase"
                              data-action="increaseAbility"
                              data-ability-uuid="{{this}}"
                              data-ability-type="optional">
                          <i class="fa-light fa-circle-plus"></i>
                        </span>
                      {{/if}}
                    </div>

                  </div>
                {{/each}}
              </div>

            </div>

            {{!-- Class Abilities --}}
            <div class="class-talents-pool entry-listing">

              <div class="entry-listing-header">
                {{#if isAdept}}
                  <h3 class="label--rail">
                    <span class="label__text">
                      {{localize "ED.Dialogs.CharGen.disciplineTalents" classType=classDocument.type}}
                    </span>
                  </h3>
                {{else}}
                    <h3 class="label--rail">
                    <span class="label__text">
                      {{localize "ED.Dialogs.CharGen.questorDevotion" classType=classDocument.type}}
                    </span>
                  </h3>                  
                {{/if}}
              </div>

              <div class="assign-value-entries-categorized">

                {{#each classDocument.system.advancement.levels.0.abilities}}

                  <div class="assign-value-entries">

                    {{#each this}}
                      <div class="assign-value-entry flexrow">

                        <div class="entry-name" data-ability-uuid="{{this}}">
                          {{{ed-linkForUuid this}}}
                        </div>

                        {{#if (eq @../key "class")}}
                          <div class="flexrow rank-change">

                            <span class="decrease-value-button rank-decrease rank-change-icon"
                                  title="{{localize "ED.Dialogs.CharGen.ToolTips.decreaseRankValue"}}"
                                  data-change-type="decrease"
                                  data-action="decreaseAbility"
                                  data-ability-uuid="{{this}}"
                                  data-ability-type="{{@../key}}">
                              <i class="fa-light fa-circle-minus"></i>
                            </span>
                            <span class="rank-change-value">
                              {{lookup @root.abilities.class this}}
                            </span>
                            <span class="increase-value-button rank-increase rank-change-icon"
                                  title="{{localize "ED.Dialogs.CharGen.ToolTips.increaseRankValue"}}"
                                  data-change-type="increase"
                                  data-action="increaseAbility"
                                  data-ability-uuid="{{this}}"
                                  data-ability-type="{{@../key}}">
                              <i class="fa-light fa-circle-plus"></i>
                            </span>

                          </div>
                        {{/if}}

                      </div>
                    {{/each}}

                  </div>
                {{/each}}

              </div>

            </div>
          </div>

          {{!-- Namegiver Abilities (adept only) --}}
          {{#if isAdept}}
            <div class="namegiver-abilities entry-listing">

                  <h3 class="item-section__header item-section__header--namegiver-abilities label--rail">
                    <span class="label__text">
                      {{localize "ED.Dialogs.CharGen.Title.namegiverAbilities"}}
                    </span>
                  </h3>  

              <div class="assign-value-entries">

                {{#each namegiverAbilities}}
                  <div class="assign-value-entry flexrow" data-ability-uuid="{{this}}">
                    <div class="entry-name" title="{{this.system.description}}">
                      {{{ed-linkForUuid this}}}
                    </div>
                    <div class="flexrow rank-change">
                      <span class="decrease-value-button rank-decrease rank-change-icon"
                            title="{{localize 'X.Decrease Rank Value'}}"
                            data-change-type="decrease"
                            data-action="decreaseAbility"
                            data-ability-uuid="{{this}}"
                            data-ability-type="namegiver">
                        <i class="fa-light fa-circle-minus"></i>
                      </span>
                      <span class="rank-change-value">
                        {{lookup @root.abilities.namegiver this}}
                      </span>
                      <span class="increase-value-button rank-increase rank-change-icon"
                            title="{{localize 'X.Increase Rank Value'}}"
                            data-change-type="increase"
                            data-action="increaseAbility"
                            data-ability-uuid="{{this}}"
                            data-ability-type="namegiver">
                        <i class="fa-light fa-circle-plus"></i>
                      </span>
                    </div>
                  </div>
                {{/each}}

              </div>
            </div>
          {{/if}}


        </div> {{!-- /class-abilities-selection --}}

      </div> {{!-- /RIGHT COLUMN --}}

    </div> {{!-- /layout__row --}}

  </div> {{!-- /container__block --}}

</section>
