<section class="tab {{tabs.equipment.cssClass}} scrollable" data-group="primary" data-tab="equipment">
  <h3>{{localize "ED.Dialogs.CharGen.Title.equipment"}}</h3>
  <div>
    <p>{{{chooseEquipmentRules}}}</p>
  </div>
  {{!-- <div>
    <h5>{{localize "ED.Dialogs.CharGen.Title.armor"}}</h5>
    {{#each equipment.armor}}
      <div>
        <input type="checkbox" data-uuid="{{this.uuid}}" name="equipment" data-action="selectEquipment" value="{{this.uuid}}" {{#if (ed-includes ../selectedEquipment this.uuid)}}checked{{/if}}>
        <label for="{{this.uuid}}">{{this.name}}</label>
      </div>
    {{/each}}
  </div> --}}
  <div>
    <h5>{{localize "ED.Dialogs.CharGen.Title.equipment"}}</h5>
    {{#each equipment.equipment}}
      <div>
        <input type="checkbox" data-uuid="{{this.uuid}}" name="equipment" data-action="selectEquipment" value="{{this.uuid}}" {{#if (ed-includes ../selectedEquipment this.uuid)}}checked{{/if}}>
        <label for="{{this.uuid}}">{{this.name}}</label>
      </div>
    {{/each}}
  </div>
  {{!-- <div>
    <h5>{{localize "ED.Dialogs.CharGen.Title.shields"}}</h5>
    {{#each equipment.shields}}
      <div>
        <input type="checkbox" data-uuid="{{this.uuid}}" name="equipment" data-action="selectEquipment" value="{{this.uuid}}" {{#if (ed-includes ../selectedEquipment this.uuid)}}checked{{/if}}>
        <label for="{{this.uuid}}">{{this.name}}</label>
      </div>
    {{/each}}
  </div> --}}
  <div>
    <h5>{{localize "ED.Dialogs.CharGen.Title.weapons"}}</h5>
    {{#each equipment.weapons}}
      <div>
        <input type="checkbox" data-uuid="{{this.uuid}}" name="equipment" data-action="selectEquipment" value="{{this.uuid}}" {{#if (ed-includes ../selectedEquipment this.uuid)}}checked{{/if}}>
        <label for="{{this.uuid}}">{{this.name}}</label>
      </div>
    {{/each}}
  </div>
</section>