<section class="tab {{tabs.languages.cssClass}} scrollable" data-group="primary" data-tab="languages">
  <h3>{{localize "ED.Dialogs.CharGen.Title.languages"}}</h3>

  <!-- Skills explainer -->
  <p class="explainer-text">
    {{{localize "ED.Dialogs.CharGen.chooseLanguagesRules"}}}
  </p>

  {{localize "ED.Dialogs.CharGen.Title.speak"}}
  {{formField schema.fields.languages.fields.speak value=languages.speak name="languages.speak"}}
  {{localize "ED.Dialogs.CharGen.Title.readWrite"}}
  {{formField schema.fields.languages.fields.readWrite value=languages.readWrite name="languages.readWrite"}}
</section>