<section class="tab languages {{tabs.languages.cssClass}}" data-group="primary" data-tab="languages">

  {{!-- Header --}}
  <h2 class="languages__header header-bar">
    {{localize "ED.Dialogs.CharGen.Title.languages"}}
  </h2>

  {{!-- Single main container --}}
  <div class="container__block container__custom">

    {{!-- Explainer --}}
    <div class="container__section languages-explainer">
      <p class="explainer-text">
        {{{localize "ED.Dialogs.CharGen.chooseLanguagesRules"}}}
      </p>
    </div>

    {{!-- Speak languages --}}
    <div class="container__section language-selection speak-languages-selection">
      <h3 class="item-section__header item-section__header--speak-language container__header">
        <span class="label__text">
          {{localize "ED.Dialogs.CharGen.Title.speak"}}
        </span>
      </h3>

      {{formInput
        schema.fields.languages.fields.speak
        value=languages.speak
        name="languages.speak"
      }}
    </div>

    {{!-- Read/Write languages --}}
    <div class="container__section language-selection read-write-languages-selection">
      <h3 class="item-section__header item-section__header--read-write container__header">
        <span class="label__text">
          {{localize "ED.Dialogs.CharGen.Title.readWrite"}}
        </span>
      </h3>

      {{formInput
        schema.fields.languages.fields.readWrite
        value=languages.readWrite
        name="languages.readWrite"
      }}
    </div>

  </div>

</section>
