<section class="tab {{tabs.languages.cssClass}} scrollable" data-group="primary" data-tab="languages">
  <h4>{{localize "ED.Dialogs.CharGen.Title.languages"}}</h4>

  <!-- Skills explainer -->
  <p class="explainer-text">
    {{{localize "ED.Dialogs.CharGen.chooseLanguagesRules"}}}
  </p>

  {{localize "ED.Dialogs.CharGen.Title.speak"}}
  {{formField object.schema.fields.languages.fields.speak value=object.languages.speak name="languages.speak"}}
  {{localize "ED.Dialogs.CharGen.Title.readWrite"}}
  {{formField object.schema.fields.languages.fields.readWrite value=object.languages.readWrite name="languages.readWrite"}}
</section>