<section class="tab {{tabs.namegiver.cssClass}} flexrow" data-group="primary" data-tab="namegiver">

  <div class="character-generation-overview flexcol">

    <h3>{{localize "ED.Dialogs.CharGen.Title.overview"}}</h3>

    <p>{{{charGenRules}}}</p>

  </div>

  <div class="namegiver-selection flexcol">

    <div class="namegiver-header-and-selection" >

      <h3>{{localize "ED.Dialogs.CharGen.chooseNamegiver"}}</h3>

      <select id="char-gen-namegiver-select" name="namegiver">
        <option value="">&ndash;&ndash;&ndash;</option>
        {{selectOptions namegivers selected=namegiver valueAttr="uuid" labelAttr="name"}}
      </select>

    </div>

    {{#if namegiverDocument}}
    <img src="{{namegiverDocument.img}}" alt="{{localize "ED.Dialogs.CharGen.namegiverImageAlt"}}">
    {{/if}}

  </div>

</section>