<section class="tab skills {{tabs.skills.cssClass}}" data-group="primary" data-tab="skills">

  <h2 class="skills__header header-bar">
    {{localize "ED.Dialogs.CharGen.chooseSkills"}}
  </h2>

  <div class="container__block container__custom">

    <div class="container__section skills-explainer">
      <p class="explainer-text">
        {{{localize "ED.Dialogs.CharGen.chooseSkillsRules"}}}
      </p>
    </div>

    <div class="container__section skills-availability">
      <div class="availability-meter available-attribute-points flexrow">
        <button
          class="reset-points"
          id="char-gen-clear-talent-ranks-button"
          type="button"
          title="{{localize "ED.Dialogs.ToolTips.resetAbilityRanks"}}"
          data-action="reset"
          data-reset-type="skills"
        >
          <i class="fa-light fa-arrows-rotate"></i>
          {{localize "ED.Dialogs.CharGen.Buttons.resetSkills"}}
        </button>
      </div>
    </div>

    <div class="container__section skills-list">
      <div class="skill-assignment flexcol">

        <div class="layout__row">

          {{!-- Artisan Skills --}}
          <div class="layout__col layout__col--2">
            <div class="skill-group skill-group--artisan">
              <div class="entry-listing">

                <div class="entry-listing-header">
                  <h3 class="entry-name label--rail">
                    <span class="label__text">
                      {{localize "ED.Dialogs.CharGen.Title.artisanSkills"}}
                    </span>
                  </h3>

                  <div class="skill-group__meter">
                    <label class="flexcol">
                      {{localize "ED.Dialogs.CharGen.requiredArtisanSkillPoints"}}
                    </label>
                    <meter
                      value="{{availableRanks.artisan}}"
                      min="0"
                      max="{{config.availableRanks.artisan}}"
                    ></meter>
                  </div>
                </div>

                <div class="assign-value-entries">
                  {{#each skills.artisan}}

                    <div class="assign-value-entry flexrow" data-skill-uuid="{{this.uuid}}">

                      <div
                        class="entry-name"
                        data-skill-uuid="{{this.uuid}}"
                        title="{{this.system.description}}"
                      >
                        {{{ed-linkForUuid this.uuid}}}
                      </div>

                      <div class="flexrow rank-change">
                        <span
                          class="decrease-value-button rank-decrease rank-change-icon {{#unless (ed-hasOwnProperty @root.abilities.artisan this.uuid)}}invisible{{/unless}}"
                          title="{{localize "ED.Dialogs.CharGen.ToolTips.decreaseRankValue"}}"
                          data-change-type="decrease"
                          data-action="decreaseAbility"
                          data-ability-uuid="{{this.uuid}}"
                          data-ability-type="artisan"
                        >
                          <i class="fa-light fa-circle-minus"></i>
                        </span>
                        <span class="rank-change-value">
                          {{lookup @root.abilities.artisan this.uuid}}
                        </span>
                        <span
                          class="increase-value-button rank-increase rank-change-icon"
                          title="{{localize "ED.Dialogs.CharGen.ToolTips.increaseRankValue"}}"
                          data-change-type="increase"
                          data-action="increaseAbility"
                          data-ability-uuid="{{this.uuid}}"
                          data-ability-type="artisan"
                        >
                          <i class="fa-light fa-circle-plus"></i>
                        </span>
                      </div>

                    </div>

                  {{else}}
                    {{localize "ED.Dialogs.CharGen.noArtisanSkillsAvailable"}}
                  {{/each}}
                </div>

              </div>
            </div>
          </div>

          {{!-- Knowledge Skills --}}
          <div class="layout__col layout__col--2">
            <div class="skill-group skill-group--knowledge">
              <div class="entry-listing">
                <div class="entry-listing-header">
                  <h3 class="entry-name label--rail">
                    <span class="label__text">
                      {{localize "ED.Dialogs.CharGen.Title.knowledgeSkills"}}
                    </span>
                  </h3>
                  <div class="skill-group__meter">
                    <label class="flexcol">
                      {{localize "ED.Dialogs.CharGen.requiredKnowledgeSkillPoints"}}
                    </label>
                    <meter
                      value="{{availableRanks.knowledge}}"
                      min="0"
                      max="{{config.availableRanks.knowledge}}"
                    ></meter>
                  </div>
                </div>

                <div class="assign-value-entries">
                  {{#each skills.knowledge}}

                    <div class="assign-value-entry flexrow" data-skill-uuid="{{this.uuid}}">

                      <div
                        class="entry-name"
                        data-skill-uuid="{{this.uuid}}"
                        title="{{this.system.description}}"
                      >
                        {{{ed-linkForUuid this.uuid}}}
                      </div>

                      <div class="flexrow rank-change">
                        <span
                          class="decrease-value-button rank-decrease rank-change-icon {{#unless (ed-hasOwnProperty @root.abilities.knowledge this.uuid)}}invisible{{/unless}}"
                          title="{{localize "ED.Dialogs.CharGen.ToolTips.decreaseRankValue"}}"
                          data-change-type="decrease"
                          data-action="decreaseAbility"
                          data-ability-uuid="{{this.uuid}}"
                          data-ability-type="knowledge"
                        >
                          <i class="fa-light fa-circle-minus"></i>
                        </span>
                        <span class="rank-change-value">
                          {{lookup @root.abilities.knowledge this.uuid}}
                        </span>
                        <span
                          class="increase-value-button rank-increase rank-change-icon"
                          title="{{localize "ED.Dialogs.CharGen.ToolTips.increaseRankValue"}}"
                          data-change-type="increase"
                          data-action="increaseAbility"
                          data-ability-uuid="{{this.uuid}}"
                          data-ability-type="knowledge"
                        >
                          <i class="fa-light fa-circle-plus"></i>
                        </span>
                      </div>

                    </div>

                  {{else}}
                    {{localize "ED.Dialogs.CharGen.noKnowledgeSkillsAvailable"}}
                  {{/each}}
                </div>

              </div>
            </div>
          </div>

        </div>

        <div class="layout__row">

          {{!-- Language Skills --}}
          <div class="layout__col layout__col--2">
            <div class="skill-group skill-group--language">
              <div class="entry-listing">

                <div class="entry-listing-header">
                  <h3 class="entry-name label--rail">
                    <span class="label__text">
                      {{localize "ED.Dialogs.CharGen.Title.languageSkills"}}
                    </span>
                  </h3>

                  <div class="skill-group__meter">
                    <label class="flexcol">
                      {{localize "ED.Dialogs.CharGen.minimumLanguageSkillPoints"}}
                    </label>

                  </div>
                </div>

                <div class="assign-value-entries">
                  {{#each skills.language}}

                    <div class="assign-value-entry flexrow" data-skill-uuid="{{this.uuid}}">

                      <div
                        class="entry-name"
                        data-skill-uuid="{{this.uuid}}"
                        title="{{this.system.description}}"
                      >
                        {{{ed-linkForUuid this.uuid}}}
                      </div>

                      <div class="flexrow rank-change">
                        <span
                          class="decrease-value-button rank-decrease rank-change-icon {{#unless (ed-hasOwnProperty @root.abilities.language this.uuid)}}invisible{{/unless}}"
                          title="{{localize "ED.Dialogs.CharGen.ToolTips.decreaseRankValue"}}"
                          data-change-type="decrease"
                          data-action="decreaseAbility"
                          data-ability-uuid="{{this.uuid}}"
                          data-ability-type="language"
                        >
                          <i class="fa-light fa-circle-minus"></i>
                        </span>
                        <span class="rank-change-value">
                          {{lookup @root.abilities.language this.uuid}}
                        </span>
                        <span
                          class="increase-value-button rank-increase rank-change-icon"
                          title="{{localize "ED.Dialogs.CharGen.ToolTips.increaseRankValue"}}"
                          data-change-type="increase"
                          data-action="increaseAbility"
                          data-ability-uuid="{{this.uuid}}"
                          data-ability-type="language"
                        >
                          <i class="fa-light fa-circle-plus"></i>
                        </span>
                      </div>

                    </div>

                  {{else}}
                    {{localize "ED.Dialogs.CharGen.noLanguageSkillsAvailable"}}
                  {{/each}}
                </div>

              </div>
            </div>
          </div>

          {{!-- General Skills --}}
          <div class="layout__col layout__col--2">
            <div class="skill-group skill-group--general">
              <div class="entry-listing">

                <div class="entry-listing-header">
                  <h3 class="entry-name label--rail">
                    <span class="label__text">
                      {{localize "ED.Dialogs.CharGen.Title.generalSkills"}}
                    </span>
                  </h3>

                  <div class="skill-group__meter">
                    <label class="flexcol">
                      {{localize "ED.Dialogs.CharGen.availableSkillPoints" points=availableRanks.general}}
                    </label>
                    <meter
                      value="{{availableRanks.general}}"
                      min="0"
                      max="{{config.availableRanks.general}}"
                    ></meter>
                  </div>
                </div>

                <div class="assign-value-entries">
                  {{#each skills.general}}

                    <div class="assign-value-entry flexrow" data-skill-uuid="{{this.uuid}}">

                      <div
                        class="entry-name"
                        data-skill-uuid="{{this.uuid}}"
                        title="{{this.system.description}}"
                      >
                        {{{ed-linkForUuid this.uuid}}}
                      </div>

                      <div class="flexrow rank-change">
                        <span
                          class="decrease-value-button rank-decrease rank-change-icon {{#unless (ed-hasOwnProperty @root.abilities.general this.uuid)}}invisible{{/unless}}"
                          title="{{localize "ED.Dialogs.CharGen.ToolTips.decreaseRankValue"}}"
                          data-change-type="decrease"
                          data-action="decreaseAbility"
                          data-ability-uuid="{{this.uuid}}"
                          data-ability-type="general"
                        >
                          <i class="fa-light fa-circle-minus"></i>
                        </span>
                        <span class="rank-change-value">
                          {{lookup @root.abilities.general this.uuid}}
                        </span>
                        <span
                          class="increase-value-button rank-increase rank-change-icon"
                          title="{{localize "ED.Dialogs.CharGen.ToolTips.increaseRankValue"}}"
                          data-change-type="increase"
                          data-action="increaseAbility"
                          data-ability-uuid="{{this.uuid}}"
                          data-ability-type="general"
                        >
                          <i class="fa-light fa-circle-plus"></i>
                        </span>
                      </div>

                    </div>

                  {{else}}
                    {{localize "ED.Dialogs.CharGen.noGeneralSkillsAvailable"}}
                  {{/each}}
                </div>

              </div>
            </div>
          </div>

        </div>

      </div>
    </div>

  </div>

</section>
