<section class="tab {{tabs.skills.cssClass}} scrollable" data-group="primary" data-tab="skills">

  <h4>{{localize "ED.Dialogs.CharGen.chooseSkills"}}</h4>

  <!-- Skills explainer -->
  <p class="explainer-text">
    {{{localize "ED.Dialogs.CharGen.chooseSkillsRules"}}}
  </p>
  
  <button class="reset-points" id="char-gen-clear-talent-ranks-button" type="button"
              title="{{localize "ED.Dialogs.ToolTips.resetAbilityRanks"}}" data-action="reset" data-reset-type="skills">
        <i class="fa-light fa-arrows-rotate"></i>
        {{localize "ED.Dialogs.CharGen.Buttons.resetSkills"}}
      </button>

  <div class="flexcol skill-assignment">

    <!-- Artisan Skills -->
    <div class="skill-options artisan-skills flexrow">
      <table>
        <tr>
          <th>{{localize "ED.Dialogs.CharGen.Title.artisanSkills"}}</th>
        </tr>
        {{#each skills.artisan}}
          <tr class="flexrow" data-skill-uuid="{{this.uuid}}">
            <td class=" ability-name" data-skill-uuid="{{this.uuid}}" title="{{this.system.description}}">
              {{this.name}}
            </td>
            <td class="flexrow rank-change">
              {{#if (ed-hasOwnProperty @root.object.abilities.artisan this.uuid)}}
                <span class="decrease-value-button rank-decrease rank-change-icon" title="{{localize "ED.Dialogs.CharGen.ToolTips.decreaseRankValue"}}"
                      data-change-type="decrease" data-action="decreaseAbility" data-ability-uuid="{{this.uuid}}" data-ability-type="artisan">
                  <i class="fa-light fa-circle-minus"></i>
              {{/if}}
                </span>
                <span class="rank-change-value">
                  {{lookup @root.object.abilities.artisan this.uuid}}
                </span>
                <span class="increase-value-button rank-increase rank-change-icon" title="{{localize "ED.Dialogs.CharGen.ToolTips.increaseRankValue"}}"
                      data-change-type="increase" data-action="increaseAbility" data-ability-uuid="{{this.uuid}}" data-ability-type="artisan">
                  <i class="fa-light fa-circle-plus"></i>
                </span>
            </td>
          </tr>
        {{else}}
          {{localize "ED.Dialogs.CharGen.noArtisanSkillsAvailable"}}
        {{/each}}
      </table>

      <span class="flexcol availability-meter available-ranks available-artisan-ranks">
        <label class="flexcol">
          {{!-- {{localize "ED.Dialogs.CharGen.requiredArtisanSkillPoints"}}: {{object.availableRanks.artisan}} --}}
          {{localize "ED.Dialogs.CharGen.requiredArtisanSkillPoints"}}
        </label>
        <meter value="{{object.availableRanks.artisan}}" min="0" max="{{config.availableRanks.artisan}}"></meter>
      </span>
    </div>

    <!-- Knowledge Skills -->
    <div class="skill-options knowledge-skills flexrow">
      <table>
        <tr>
          <th>{{localize "ED.Dialogs.CharGen.Title.knowledgeSkills"}}</th>
        </tr>
        {{#each skills.knowledge}}
          <tr class="flexrow" data-skill-uuid="{{this.uuid}}">
            <td class=" ability-name" data-skill-uuid="{{this.uuid}}" title="{{this.system.description}}">
              {{this.name}}
            </td>
            <td class="flexrow rank-change">
              {{#if (ed-hasOwnProperty @root.object.abilities.knowledge this.uuid)}}
              <span class="decrease-value-button rank-decrease rank-change-icon" title="{{localize "ED.Dialogs.CharGen.ToolTips.decreaseRankValue"}}"
                    data-change-type="decrease" data-action="decreaseAbility" data-ability-uuid="{{this.uuid}}" data-ability-type="knowledge">
                  <i class="fa-light fa-circle-minus"></i>
              </span>
              {{/if}}
              <span class="rank-change-value">
                {{lookup @root.object.abilities.knowledge this.uuid}}
              </span>
              <span class="increase-value-button rank-increase rank-change-icon" title="{{localize "ED.Dialogs.CharGen.ToolTips.increaseRankValue"}}"
                    data-change-type="increase" data-action="increaseAbility" data-ability-uuid="{{this.uuid}}" data-ability-type="knowledge">
                <i class="fa-light fa-circle-plus"></i>
              </span>
            </td>
          </tr>
        {{else}}
          {{localize "ED.Dialogs.CharGen.noKnowledgeSkillsAvailable"}}
        {{/each}}
      </table>

      <span class="flexcol availability-meter available-ranks available-knowledge-ranks">
        <label class="flexcol">
          {{localize "ED.Dialogs.CharGen.requiredKnowledgeSkillPoints"}}: {{object.availableRanks.knowledge}}{{!--format "X.availablePointsKarma" points=... --}}
        </label>
        <meter value="{{object.availableRanks.knowledge}}" min="0" max="{{config.availableRanks.knowledge}}"></meter>
      </span>
    </div>

    <!-- Language Skills -->
    <div class="skill-options language-skills flexrow">
      <table>
        <tr>
          <th>{{localize "ED.Dialogs.CharGen.Title.languageSkills"}}</th>
        </tr>
        {{#each skills.language}}
          <tr class="flexrow" data-skill-uuid="{{this.uuid}}">
            <td class=" ability-name" data-skill-uuid="{{this.uuid}}" title="{{this.system.description}}">
              {{this.name}}
            </td>
            <td class="flexrow rank-change">
              {{#if (ed-hasOwnProperty @root.object.abilities.language this.uuid)}}
                <span class="decrease-value-button rank-decrease rank-change-icon" title="{{localize "ED.Dialogs.CharGen.ToolTips.decreaseRankValue"}}"
                      data-change-type="decrease" data-action="decreaseAbility" data-ability-uuid="{{this.uuid}}" data-ability-type="language">
                  <i class="fa-light fa-circle-minus"></i>
              </span>
              {{/if}}
              <span class="rank-change-value">
                {{lookup @root.object.abilities.language this.uuid}}
              </span>
              <span class="increase-value-button rank-increase rank-change-icon" title="{{localize "ED.Dialogs.CharGen.ToolTips.increaseRankValue"}}"
                    data-change-type="increase" data-action="increaseAbility" data-ability-uuid="{{this.uuid}}" data-ability-type="language">
                <i class="fa-light fa-circle-plus"></i>
              </span>
            </td>
          </tr>
        {{else}}
          {{localize "ED.Dialogs.CharGen.noLanguageSkillsAvailable"}}
        {{/each}}
      </table>

      <span class="flexcol available-ranks available-language-ranks">
        {{localize "ED.Dialogs.CharGen.minimumLanguageSkillPoints"}}
      </span>
    </div>

    <!-- General Skills -->
    <div class="skill-options general-skills flexrow">
      <table>
        <tr>
          <th>{{localize "ED.Dialogs.CharGen.Title.generalSkills"}}</th>
        </tr>
        {{#each skills.general}}
          <tr class="flexrow" data-skill-uuid="{{this.uuid}}">
            <td class=" ability-name" data-skill-uuid="{{this.uuid}}" title="{{this.system.description}}">
              {{this.name}}
            </td>
            <td class="flexrow rank-change">
              {{#if (ed-hasOwnProperty @root.object.abilities.general this.uuid)}}
              <span class="decrease-value-button rank-decrease rank-change-icon" title="{{localize "ED.Dialogs.CharGen.ToolTips.decreaseRankValue"}}"
                    data-change-type="decrease" data-action="decreaseAbility" data-ability-uuid="{{this.uuid}}" data-ability-type="general">
                  <i class="fa-light fa-circle-minus"></i>
              </span>
              {{/if}}
              <span class="rank-change-value">
                {{lookup @root.object.abilities.general this.uuid}}
              </span>
              <span class="increase-value-button rank-increase rank-change-icon" title="{{localize "ED.Dialogs.CharGen.ToolTips.increaseRankValue"}}"
                    data-change-type="increase" data-action="increaseAbility" data-ability-uuid="{{this.uuid}}" data-ability-type="general">
                  <i class="fa-light fa-circle-plus"></i>
                </span>
            </td>
          </tr>
        {{else}}
          {{localize "ED.Dialogs.CharGen.noGeneralSkillsAvailable"}}
        {{/each}}
      </table>

      <span class="flexcol availability-meter available-ranks available-general-ranks">
        <label class="flexcol">
          {{localize "ED.Dialogs.CharGen.availabelSkillPoints"}}: {{object.availableRanks.general}}
        </label>
        <meter value="{{object.availableRanks.general}}" min="0" max="{{config.availableRanks.general}}"></meter>
      </span>
    </div>

  </div>

</section>