<section class="tab {{tab.cssClass}} scrollable" data-group="primary" data-tab="spell-tab">

  <h4>{{localize "ED.Dialogs.CharGen.chooseSpells"}}</h4>

  <!-- Skills explainer -->
  <p class="explainer-text">
    {{{localize "ED.Dialogs.CharGen.chooseSpellsRules"}}}
  </p>

  <section class="rank-assignment">

    <div class="availability-meter available-talent-ranks flexrow">
      <button class="reset-points" id="char-gen-clear-talent-ranks-button" type="button"
              title="{{localize "ED.Dialogs.ToolTips.resetAbilityRanks"}}" data-reset-type="classAbilities">
        <i class="fa-light fa-arrows-rotate"></i>
        {{localize "ED.Dialogs.CharGen.Buttons.resetSpells"}}
      </button>
      <label>{{localize "ED.Dialogs.CharGen.availableSpellPoints"}}: {{availableSpellPoints}}{{!--format "X.availablePointsKarma" points=... --}}</label>
      <meter value="{{availableSpellPoints}}" min="0" max="{{maxSpellPoints}}">
      </meter>
    </div>

  </section>

  <div class="flexcol spell-selection">
    <table style="table-layout: fixed;text-align: center">
      <thead>
      <tr>
        <th >{{localize "ED.Dialogs.CharGen.Title.spellOptions"}}</th>
        <th >{{localize "ED.Dialogs.CharGen.Title.chosenSpells"}}</th>
      </tr>
      </thead>
      <tbody>
      {{#each spellsByCircle}}
        <tr>
          <th colspan="2">{{localize (concat "X.Circle " @key) level=@key}}</th>
        </tr>
        {{#each this}}
          <tr>
            {{#if this.[0]}}
              <td class="spell-name" data-action="changeSpell" data-spell-uuid="{{this.0.uuid}}" data-spell-selected="{{ifThen this.[0] "false" "true"}}" title="{{this.0.system.description}}">
                {{this.0.name}}
              </td>
              <td></td>
            {{else}}
              <td></td>
              <td class="spell-name" data-action="changeSpell" data-spell-uuid="{{this.1.uuid}}" data-spell-selected="{{ifThen this.[1] "true" "false"}}" title="{{this.1.system.description}}">
                {{this.1.name}}
              </td>
            {{/if}}
          </tr>
        {{/each}}
      {{/each}}
      </tbody>
    </table>
  </div>

</section>
