<div class="roll-successes flexrow">
  <span title="{{localize "ED.Rolls.targetDifficulty"}}">
  <i class="fa-light fa-crosshairs"></i>{{ifThen (or target.public isGM) target.total "???"}}
  </span>
  &#124;
  <span title="{{localize "ED.Rolls.rollResult"}}">
    <i class="fa-regular fa-dice"></i>&nbsp;{{result}}
  </span>
  &#124;
  <span data-tooltip="{{{successesTooltip}}}">
    <i class="fa-light fa-check-double"></i>&nbsp;{{numSuccesses}}
  </span>
</div>