<fieldset>
  <legend>{{localize "ED.Item.Header.grimoireConfiguration"}}</legend>

  {{#if system.isOwnGrimoire}}
    <div class="grimoire-own-indicator">
      <i class="fas fa-star"></i> <strong>{{localize "ED.Item.Grimoire.ownGrimoire"}}</strong>
    </div>
  {{else}}
    <div class="grimoire-own-indicator">
      {{localize "ED.Item.Grimoire.otherGrimoire"}}
    </div>
  {{/if}}

  {{formGroup
    systemFields.grimoire.fields.owner
    name="system.grimoire.owner"
    value=system.grimoire.owner
    localize=true
  }}

  {{formGroup
    systemFields.grimoire.fields.attunedSpell
    name="system.grimoire.attunedSpell"
    value=system.grimoire.attunedSpell
    localize=true
  }}

  <div class="grimoire-spell-list spell-cards-container">
  {{#each grimoireSpells}}
    {{> "systems/ed4e/templates/actor/cards/spell-card.hbs"}}
  {{else}}
    <p class="no-spells">{{localize "ED.Item.Grimoire.noSpells"}}</p>
  {{/each}}
  </div>
</fieldset>