<div id="base-description-devotion-item" class="item-description__devotion item-body" data-editable="{{#if @root.editable}}editable{{else}}readonly{{/if}}">

    {{> "systems/ed4e/templates/item/item-partials/item-details/partials/abilities.hbs"}}

    {{!-- Tier --}}
    <div class="item-section item-section--tier item-group">
        {{#if @root.editable}}
            {{formField systemFields.tier name="system.tier" value=item.system.tier localize=true}}
        {{else}}
        <div class="item-line item-line--tier">
            <span class="item-line__label">
                {{localize systemFields.tier.label}}:
            </span>
            <span class="item-line__dots" aria-hidden="true"></span>
            <span class="item-line__value">
                {{item.system.tier}}
            </span>
        </div>
        {{/if}}
    </div>

    {{!-- Devotion Required --}}
    <div class="item-section item-section--devotion-required item-group">
        {{#if @root.editable}}
            {{formField systemFields.devotionRequired name="system.devotionRequired" value=item.system.devotionRequired localize=true}}
        {{else}}
        <div class="item-line item-line--devotion-required">
            <span class="item-line__label">
                {{localize systemFields.devotionRequired.label}}:
            </span>
            <span class="item-line__dots" aria-hidden="true"></span>
            <span class="item-line__value">
                {{#if item.system.devotionRequired}}{{localize "ED.Form.yes"}}{{else}}{{localize "ED.Form.no"}}{{/if}}
            </span>
        </div>
        {{/if}}
    </div>

    {{!-- durability --}}
     <div class="item-section item-section--durability item-group">
        {{#if @root.editable}}
            {{formField systemFields.durability name="system.durability" value=item.system.durability localize=true}}
        {{else}}
        <div class="item-line item-line--durability">
            <span class="item-line__label">
                {{localize systemFields.durability.label}}:
            </span>
            <span class="item-line__dots" aria-hidden="true"></span>
            <span class="item-line__value">
                {{item.system.durability}}
            </span>
        </div>
        {{/if}}
    </div>

    <div class="item-section item-section--description">
        <h3 class="item-section__header item-section__header--description label--rail">
            <span class="label__text">
                {{localize "ED.Item.Header.description"}}
            </span>
        </h3>
        <div class="item-section__description">
        {{#if @root.editable}}
            {{> "systems/ed4e/templates/global/editor.hbs"}}
        {{else}}
            {{{enrichedDescription}}}
        {{/if}}
        </div>
    </div>
</div>