<div class="item__left--main">
{{log this}}
  <h3>{{localize "ED.Item.Header.general"}}</h3>

  {{formGroup systemFields.wovenToUuid value=system.wovenToUuid}}
  {{formGroup systemFields.level value=system.level}}

</div>

<div class="item__right--main sheet__editor">

  <h3>{{localize "ED.Item.Header.description"}}</h3>

  {{> "systems/ed4e/templates/global/editor.hbs"}}

</div>