<div id="base-description-knackAbility-item" class="item-description__knackAbility item-body" data-editable="{{#if @root.editable}}editable{{else}}readonly{{/if}}">

    <h3>{{localize "ED.Item.Header.general"}}</h3>

    {{> "systems/ed4e/templates/item/item-partials/item-details/partials/abilities.hbs"}}

    {{!-- Standard Effect --}}
    {{formField systemFields.standardEffect name="system.standardEffect" value=item.system.standardEffect localize=true}}

  {{> "systems/ed4e/templates/item/item-partials/item-details/partials/knack.hbs"}}

    <div class="item-section__description">
        <h3 class="item-header__descrption label--rail">
            <span class="label__text">
                {{localize "ED.Item.Header.description"}}
            </span>
        </h3>
        <span class="item-body__description">
            {{#if @root.editable}}
                {{> "systems/ed4e/templates/global/editor.hbs"}}
            {{else}}
                {{{enrichedDescription}}}
            {{/if}}
        </span>
    </div>
</div>