<div id="base-description-thread-item" class="item-description__thread item-bdoy" data-editable="{{#if @root.editable}}editable{{else}}readonly{{/if}}">

  {{formGroup systemFields.wovenToUuid value=system.wovenToUuid disabled=(not editable)}}

  {{formGroup systemFields.level value=system.level disabled=(not editable)}}

    <div class="item-section__description">
        <h3 class="item-header__descrption label--rail">
            <span class="label__text">
                {{localize "ED.Item.Header.description"}}
            </span>
        </h3>
        <span class="item-body__description">
            {{#if @root.editable}}
                {{> "systems/ed4e/templates/global/editor.hbs"}}
            {{else}}
                {{{enrichedDescription}}}
            {{/if}}
        </span>
    </div>
</div>