<section class="item-body {{#if @root.editable}}item-body--editable{{else}}item-body--readonly{{/if}}">
  <div class="item-body__description">

    {{!-- Required Extra Successes --}}
    {{#if systemFields.extraSuccesses}}
      <div class="form-group">
        <label>{{localize systemFields.extraSuccesses.label}}</label>

        {{#if systemFields.extraSuccesses.choices}}
          <select
            name="system.extraSuccesses"
            data-dtype="{{systemFields.extraSuccesses.type}}">
            <option value="" {{#unless item.system.extraSuccesses}}selected{{/unless}}></option>
            {{selectOptions
              systemFields.extraSuccesses.choices
              selected=item.system.extraSuccesses
              localize=true}}
          </select>
        {{else}}
          <input
            type="number"
            name="system.extraSuccesses"
            value="{{item.system.extraSuccesses}}"
            data-dtype="{{systemFields.extraSuccesses.type}}" />
        {{/if}}

        {{#if @root.editable}}
          <p class="hint">{{localize systemFields.extraSuccesses.hint}}</p>
        {{/if}}
      </div>
    {{/if}}

  </div>

  <div class="item-description sheet__editor">
    <h3 class="label--rail">
      <span class="label__text">
        {{localize "ED.Item.Header.description"}}
      </span>
    </h3>

    {{#if @root.editable}}
      {{> "systems/ed4e/templates/global/editor.hbs"}}
    {{else}}
      {{{enrichedDescription}}}
    {{/if}}
  </div>
</section>
