<div id="base-description-path-item" class="item-description__path item-body" data-editable="{{#if @root.editable}}editable{{else}}readonly{{/if}}">

    {{!-- Circle / Rank --}}
    <div class="item-section item-section--circle item-group">
    {{#if @root.editable}}
        {{formField systemFields.level name="system.level" value=item.system.level localize=true}}
    {{else}}
        <div class="item-line item-line--circle">
        <span class="item-line__label">
            {{localize systemFields.level.label}}:
        </span>
        <span class="item-line__dots" aria-hidden="true"></span>
        <span class="item-line__value">
            {{item.system.level}}
        </span>
        </div>
    {{/if}}
    </div>


    {{!-- sourceDiscipline --}}
    {{formField systemFields.sourceDisciplineId name="system.sourceDisciplineId" value=item.system.sourceDisciplineId localize=true}}

    <div class="item-section item-section--description">
        <h3 class="item-section__header item-section__header--description label--rail">
            <span class="label__text">
                {{localize "ED.Item.Header.description"}}
            </span>
        </h3>
        <span class="item-body__description">
            {{#if @root.editable}}
                {{> "systems/ed4e/templates/global/editor.hbs"}}
            {{else}}
                {{{enrichedDescription}}}
            {{/if}}
        </span>
    </div>
</div>