<div id="base-description-devotion-item" class="item-description__devotion item-body" data-editable="{{#if @root.editable}}editable{{else}}readonly{{/if}}">

    {{> "systems/ed4e/templates/item/item-partials/item-details/partials/abilities.hbs"}}

    {{!-- Tier --}}
    {{formField systemFields.tier name="system.tier" value=item.system.tier localize=true}}

    {{!-- Devotion Required --}}
    {{formField systemFields.devotionRequired name="system.devotionRequired" value=item.system.devotionRequired localize=true}}

    {{!-- durability --}}
    {{formField systemFields.durability name="system.durability" value=item.system.durability localize=true}}

    <div class="item-section__description">
        <h3 class="item-header__descrption label--rail">
            <span class="label__text">
                {{localize "ED.Item.Header.description"}}
            </span>
        </h3>
        <span class="item-body__description">
            {{#if @root.editable}}
                {{> "systems/ed4e/templates/global/editor.hbs"}}
            {{else}}
                {{{enrichedDescription}}}
            {{/if}}
        </span>
    </div>
</div>