<div id="base-description-shield-item" class="item-description__shield item-body" data-editable="{{#if @root.editable}}editable{{else}}readonly{{/if}}">

    {{!-- Physical Defense Bonus --}}
    <div class="item-section item-section--defense-bonus-physical item-group">
    {{#if @root.editable}}
        {{formField systemFields.defenseBonus.fields.physical name="system.defenseBonus.physical" value=item.system.defenseBonus.physical localize=true}}
    {{else}}
        <div class="item-line item-line--defense-bonus-physical">
        <span class="item-line__label">
            {{localize systemFields.defenseBonus.fields.physical.label}}:
        </span>
        <span class="item-line__dots" aria-hidden="true"></span>
        <span class="item-line__value">
            {{item.system.defenseBonus.physical}}
        </span>
        </div>
    {{/if}}
    </div>

    {{!-- Mystic Defense Bonus --}}
    <div class="item-section item-section--defense-bonus-mystical item-group">
    {{#if @root.editable}}
        {{formField systemFields.defenseBonus.fields.mystical name="system.defenseBonus.mystical" value=item.system.defenseBonus.mystical localize=true}}
    {{else}}
        <div class="item-line item-line--defense-bonus-mystical">
        <span class="item-line__label">
            {{localize systemFields.defenseBonus.fields.mystical.label}}:
        </span>
        <span class="item-line__dots" aria-hidden="true"></span>
        <span class="item-line__value">
            {{item.system.defenseBonus.mystical}}
        </span>
        </div>
    {{/if}}
    </div>

    {{!-- Shatter Threshold --}}
    <div class="item-section item-section--shatter-threshold item-group">
    {{#if @root.editable}}
        {{formField systemFields.shatterThreshold name="system.shatterThreshold" value=item.system.shatterThreshold localize=true}}
    {{else}}
        <div class="item-line item-line--shatter-threshold">
        <span class="item-line__label">
            {{localize systemFields.shatterThreshold.label}}:
        </span>
        <span class="item-line__dots" aria-hidden="true"></span>
        <span class="item-line__value">
            {{item.system.shatterThreshold}}
        </span>
        </div>
    {{/if}}
    </div>

    {{!-- shattered --}}
    <div class="item-section item-section--shattered item-group">
    {{#if @root.editable}}
        {{formField systemFields.shattered name="system.shattered" value=item.system.shattered localize=true}}
    {{else}}
        <div class="item-line item-line--shattered">
        <span class="item-line__label">
            {{localize systemFields.shattered.label}}:
        </span>
        <span class="item-line__dots" aria-hidden="true"></span>
        <span class="item-line__value">
            {{#if item.system.shattered}}{{localize "ED.Form.yes"}}{{else}}{{localize "ED.Form.no"}}{{/if}}
        </span>
        </div>
    {{/if}}
    </div>

    {{!-- Initiative Penalty --}}
    <div class="item-section item-section--initiative-penalty item-group">
    {{#if @root.editable}}
        {{formField systemFields.initiativePenalty name="system.initiativePenalty" value=item.system.initiativePenalty localize=true}}
    {{else}}
        <div class="item-line item-line--initiative-penalty">
        <span class="item-line__label">
            {{localize systemFields.initiativePenalty.label}}:
        </span>
        <span class="item-line__dots" aria-hidden="true"></span>
        <span class="item-line__value">
            {{item.system.initiativePenalty}}
        </span>
        </div>
    {{/if}}
    </div>

    {{!-- living armor --}}
    {{#if @root.editable}}
        {{formField systemFields.isLiving name="system.isLiving" value=item.system.isLiving localize=true}}
    {{/if}}

    {{> "systems/ed4e/templates/item/item-partials/item-details/partials/physical-items.hbs"}}

    <div class="item-section item-section--description">
        <h3 class="item-section__header item-section__header--description label--rail">
            <span class="label__text">
                {{localize "ED.Item.Header.description"}}
            </span>
        </h3>
        <span class="item-body__description">
            {{#if @root.editable}}
                {{> "systems/ed4e/templates/global/editor.hbs"}}
            {{else}}
                {{{enrichedDescription}}}
            {{/if}}
        </span>
    </div>
</div>