<div id="base-description-maneuver-item" class="item-description__maneuver item-body" data-editable="{{#if @root.editable}}editable{{else}}readonly{{/if}}">
 
    {{!-- Required Extra Successes --}}
    <div class="item-section item-section--extra-successes item-group">
        {{#if @root.editable}}
            {{formField systemFields.extraSuccesses name="system.extraSuccesses" value=item.system.extraSuccesses localize=true}}
        {{else}}
            <div class="item-line item-line--extra-successes">
            <span class="item-line__label">
                {{localize systemFields.extraSuccesses.label}}:
            </span>
            <span class="item-line__dots" aria-hidden="true"></span>
            <span class="item-line__value">
                {{item.system.extraSuccesses}}
            </span>
            </div>
        {{/if}}
    </div>

    <div class="item-section item-section--description">
        <h3 class="item-section__header item-section__header--description label--rail">
            <span class="label__text">
                {{localize "ED.Item.Header.description"}}
            </span>
        </h3>
        <span class="item-body__description">
            {{#if @root.editable}}
                {{> "systems/ed4e/templates/global/editor.hbs"}}
            {{else}}
                {{{enrichedDescription}}}
            {{/if}}
        </span>
    </div>
</div>