<div id="base-description-talent-item" class="item-description__talent item-body" data-editable="{{#if @root.editable}}editable{{else}}readonly{{/if}}">

    {{> "systems/ed4e/templates/item/item-partials/item-details/partials/abilities.hbs"}}

    {{!-- Tier --}}
    {{formField systemFields.tier name="system.tier" value=item.system.tier localize=true}}

    {{!-- talent Category --}}
    {{#if @root.editable}}
        {{formField systemFields.talentCategory name="system.talentCategory" value=item.system.talentCategory localize=true}}
    {{/if}}

    <div class="item-section__description">
        <h3 class="item-header__descrption label--rail">
            <span class="label__text">
                {{localize "ED.Item.Header.description"}}
            </span>
        </h3>
        <span class="item-body__description">
            {{#if @root.editable}}
                {{> "systems/ed4e/templates/global/editor.hbs"}}
            {{else}}
                {{{enrichedDescription}}}
            {{/if}}
        </span>
    </div>
</div>