<div id="base-description-knackManeuver-item" class="item-description__knackManeuver item-body" data-editable="{{#if @root.editable}}editable{{else}}readonly{{/if}}">

  {{!-- Source --}}
  <div class="knack-ability__source-min-level">
    <div class="knack-ability__source">
      {{formField systemFields.sourceItem name="system.sourceItem" value=item.system.sourceItem localize=true}}
    </div>
    <div class="knack-ability__min-level">
      {{formInput systemFields.minLevel name="system.minLevel" value=item.system.minLevel}}
    </div>
    {{formField systemFields.extraSuccesses name="system.extraSuccesses" value=item.system.extraSuccesses localize=true}}
  </div>

  {{> "systems/ed4e/templates/form/group/general.hbs"
    dataField=systemFields.requirements
    inputTemplate="systems/ed4e/templates/form/input/configurable-array-summary.hbs"
    data=item.system.requirements
    config=config
  }}

  {{> "systems/ed4e/templates/form/group/general.hbs"
    dataField=systemFields.restrictions
    inputTemplate="systems/ed4e/templates/form/input/configurable-array-summary.hbs"
    data=item.system.restrictions
    config=config
  }}

  <div class="item-section__description">
      <h3 class="item-header__descrption label--rail">
          <span class="label__text">
              {{localize "ED.Item.Header.description"}}
          </span>
      </h3>
      <span class="item-body__description">
          {{#if @root.editable}}
              {{> "systems/ed4e/templates/global/editor.hbs"}}
          {{else}}
              {{{enrichedDescription}}}
          {{/if}}
      </span>
  </div>
</div>